<%- include('./partials/headercode.ejs') %>
  <!-- Atharv -->

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        <!-- sidebar imported -->
        <%- include('./partials/sidebar.ejs') %>

          <!-- Layout container -->
          <div class="layout-page">

            <!-- navbar imported -->
            <%- include('./partials/navbar.ejs') %>


              <!-- Content wrapper -->
              <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                  <div class="row">
                    <div class="col-lg-8 mb-4 order-0">
                      <div class="card">
                        <div class="d-flex align-items-end row">
                          <div class="col-sm-7">
                            <div class="card-body">
                              <h5 class="card-title text-primary" id="congratsowner">

                              </h5>
                              <p class="mb-4">
                                You have done <span class="fw-bold" id="salesgrowth"></span> more
                                sales today.
                              </p>

                              <!-- <a href="javascript:;" class="btn btn-sm btn-outline-primary">View Badges</a> -->
                            </div>
                          </div>
                          <div class="col-sm-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                              <img src="/img/illustrations/man-with-laptop-light.png" height="140" alt="View Badge User"
                                data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                data-app-light-img="illustrations/man-with-laptop-light.html" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 order-1">
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" />
                                </div>
                                <div class="dropdown">
                                  <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                  </div>
                                </div>
                              </div>
                              <span class="fw-semibold d-block mb-1">Total Revenue</span>
                              <h3 class="card-title mb-2" id="totalrevenue"></h3>
                              <!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded" />
                                </div>
                                <div class="dropdown">
                                  <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                  </div>
                                </div>
                              </div>
                              <span>Total Orders</span>
                              <h3 class="card-title text-nowrap mb-1" id="totalorders"></h3>
                              <!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.42%</small> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Total Revenue -->
                    <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                      <div class="card">
                        <div class="row row-bordered g-0">
                          <div class="col-md-8">
                            <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                            <!-- <div id="totalRevenueChart" class="px-2"></div> -->
                            <canvas id="myChart"></canvas>
                          </div>
                          <div class="col-md-4">
                            <div class="card-body">
                              <div class="text-center">
                                <div class="dropdown">
                                  <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button"
                                    id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Check Growth Status
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                    <button class="dropdown-item" id="perdaygrowth">Per Day</button>
                                    <button class="dropdown-item" id="permonthgrowth">Per Month</button>
                                    <button class="dropdown-item" id="peryeargrowth">Per Year</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <div id="growthChart"></div> -->
                            <div id="companygrowthchart"></div>
                            <div class="text-center fw-semibold pt-3 mb-2" id="textgrowthstatus">
                              
                            </div>

                            <!-- <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                              <div class="d-flex">
                                <div class="me-2">
                                  <span class="badge bg-label-primary p-2"><i
                                      class="bx bx-dollar text-primary"></i></span>
                                </div>
                                <div class="d-flex flex-column">
                                  <small>2022</small>
                                  <h6 class="mb-0">₹32.5k</h6>
                                </div>
                              </div>
                              <div class="d-flex">
                                <div class="me-2">
                                  <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                                </div>
                                <div class="d-flex flex-column">
                                  <small>2021</small>
                                  <h6 class="mb-0">₹41.2k</h6>
                                </div>
                              </div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/ Total Revenue -->
                    <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                      <div class="row">
                        <div class="col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                                </div>
                                <div class="dropdown">
                                  <button class="btn p-0" type="button" id="cardOpt4" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                  </button>
                                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                  </div>
                                </div>
                              </div>
                              <span class="d-block mb-1">Inventory Cost</span>
                              <h3 class="card-title text-nowrap mb-2" id="inventorycost"></h3>
                              <!-- <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -->
                                <!-- -14.82%</small> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                                </div>
                                <div class="dropdown">
                                  <button class="btn p-0" type="button" id="cardOpt1" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="cardOpt1">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                  </div>
                                </div>
                              </div>
                              <span class="fw-semibold d-block mb-1">Total PO</span>
                              <h3 class="card-title mb-2" id="purchaseordersmade"></h3>
                              <!-- <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.14%</small> -->
                            </div>
                          </div>
                        </div>

                        <div class="col-12 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                                <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                  <div class="card-title">
                                    <h5 class="text-nowrap mb-2">Profile Report</h5>
                                    <span class="badge bg-label-warning rounded-pill" id="yearreport"></span>
                                  </div>
                                  <div class="mt-sm-auto">
                                    <!-- <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i>
                                      68.2%</small> -->
                                    <h3 class="mb-0" id="yearrevenue"></h3>
                                  </div>
                                </div >
                                <!-- <div id="profileReportChart"></div> -->
                                <div id="profileReport"></div>
                                <!-- <div style="width: 180px; height:100px;">
                                  <canvas id="profileReport" ></canvas>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row"> -->
                    <!-- Order Statistics -->
                    <!-- <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                      <div class="card h-100">
                        <div class="card-header d-flex align-items-center justify-content-between pb-0">
                          <div class="card-title mb-0">
                            <h5 class="m-0 me-2">Order Statistics</h5>
                            <small class="text-muted">42.82k Total Sales</small>
                          </div>
                          <div class="dropdown">
                            <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                              <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                              <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                              <a class="dropdown-item" href="javascript:void(0);">Share</a>
                            </div>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex flex-column align-items-center gap-1">
                              <h2 class="mb-2">8,258</h2>
                              <span>Total Orders</span>
                            </div>
                            <div id="orderStatisticsChart"></div>
                          </div>
                          <ul class="p-0 m-0">
                            <li class="d-flex mb-4 pb-1">
                              <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-primary"><i
                                    class='bx bx-mobile-alt'></i></span>
                              </div>
                              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                  <h6 class="mb-0">Allopathy</h6>

                                </div>
                                <div class="user-progress">
                                  <small class="fw-semibold">82.5k</small>
                                </div>
                              </div>
                            </li>
                            <li class="d-flex mb-4 pb-1">
                              <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-success"><i
                                    class='bx bx-closet'></i></span>
                              </div>
                              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                  <h6 class="mb-0">Homepathy</h6>

                                </div>
                                <div class="user-progress">
                                  <small class="fw-semibold">23.8k</small>
                                </div>
                              </div>
                            </li>
                            <li class="d-flex mb-4 pb-1">
                              <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-info"><i class='bx bx-home-alt'></i></span>
                              </div>
                              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                  <h6 class="mb-0">Ayurvedic</h6>

                                </div>
                                <div class="user-progress">
                                  <small class="fw-semibold">849k</small>
                                </div>
                              </div>
                            </li>
                            <li class="d-flex">
                              <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-secondary"><i
                                    class='bx bx-football'></i></span>
                              </div>
                              <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                  <h6 class="mb-0">Generic</h6>

                                </div>
                                <div class="user-progress">
                                  <small class="fw-semibold">99</small>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!--/ Order Statistics -->

                    <!-- Expense Overview -->
                    <!-- <div class="col-md-6 col-lg-4 order-1 mb-4">
                      <div class="card h-100">
                        <div class="card-header">
                          <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                              <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab"
                                data-bs-target="#navs-tabs-line-card-income" aria-controls="navs-tabs-line-card-income"
                                aria-selected="true">
                                Income
                              </button>
                            </li>
                            <li class="nav-item">
                              <button type="button" class="nav-link" role="tab">
                                Expenses
                              </button>
                            </li>
                            <li class="nav-item">
                              <button type="button" class="nav-link" role="tab">
                                Profit
                              </button>
                            </li>
                          </ul>
                        </div>
                        <div class="card-body px-0">
                          <div class="tab-content p-0">
                            <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                              <div class="d-flex p-4 pt-3">
                                <div class="avatar flex-shrink-0 me-3">
                                  <img src="/img/icons/unicons/wallet.png" alt="User" />
                                </div>
                                <div>
                                  <small class="text-muted d-block">Total Balance</small>
                                  <div class="d-flex align-items-center">
                                    <h6 class="mb-0 me-1">₹459.10</h6>
                                    <small class="text-success fw-semibold">
                                      <i class="bx bx-chevron-up"></i>
                                      42.9%
                                    </small>
                                  </div>
                                </div>
                              </div>
                              <div id="incomeChart"></div>
                              <div class="d-flex justify-content-center pt-4 gap-2">
                                <div class="flex-shrink-0">
                                  <div id="expensesOfWeek"></div>
                                </div>
                                <div>
                                  <p class="mb-n1 mt-1">Expenses This Week</p>
                                  <small class="text-muted">₹39 less than last week</small>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <!--/ Expense Overview -->

                  </div> -->
                </div>
                <!-- / Content -->

                <div class="content-backdrop fade"></div>
              </div>
              <!-- Content wrapper -->
          </div>
          <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    
    <!-- / Layout wrapper -->

    <%- include('./partials/footercode.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <script>
        $(document).ready(function () {
  
          var result; 
          const ctx = $("#myChart");
          $.get(`/api/totalsumfromsales?org=<%=orgId%>`, function(sales, status){
            console.log('sales', sales);
          
            $.get(`/api/totalsumfrompurchase?org=<%=orgId%>`, function(purchase, status){
              console.log('purchase', purchase);
            
          //const data = [{x: 'Jan', net: 100, cogs: 50, gm: 50}, {x: 'Feb', net: 120, cogs: 55, gm: 75}];
          const cfg = {
            type: 'bar',
            
            data: {
              labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
              datasets: [
                {
                  label: 'Total Sales',
                  borderRadius: 100,
                  borderSkipped: 'middle',
                  borderWidth:0,
                  backgroundColor: 'rgba(105, 108, 255, 0.85)',
                  //barThickness: 10,
                  barPercentage: 0.8, // Adjust the bar width
                  categoryPercentage: 0.5,
                  barSpacing: 20,
                  data: sales.results,
                  parsing: {
                    yAxisKey: 'total'
                  },
                  
                },
                {
                  label: 'Total Purchase',
                  borderRadius: 100,
                  borderSkipped: 'middle',
                  borderWidth:0,
                  backgroundColor:"rgba(3, 195, 236, 0.85)",
                  //barThickness: 10,
                  barPercentage: 0.8, // Adjust the bar width
                  categoryPercentage: 0.5,
                  barSpacing: 200,
                  data: purchase.results,
                  parsing: {
                    yAxisKey: 'total'
                  }
                },
              ]
            },
            options: {
              scales: {
                x: {
                  grid: {
                    display:false,
                  },
                  ticks: {
                    color: 'rgba(0, 0, 0, 0.5)',
                    font: {
                      family: 'Comic Sans MS', // Specify the font family
                      size: 11,
                      weight: "bold" // Specify the font size
                       // Specify the font weight
                    }  // Adjust the opacity of the x-axis labels
                  },
                },
                y: {
                  border:{
                    display: false
                  },
                  ticks: {
                    color: 'rgba(0, 0, 0, 0.5)',
                    font: {
                      family: 'Comic Sans MS', // Specify the font family
                      size: 11, // Specify the font size
                       // Specify the font weight
                    } 
                  },
                  grid: {
                    display: true,
                    color: "rgba(0, 0, 0, 0.05)",
                    
                  }
                }
              },
              plugins: {
                legend: {
                  position: 'top',
                  labels: {
                    font: {
                      family: 'Comic Sans MS', // Specify the font family for the legend labels
                      size: 12, // Specify the font size for the legend labels
                      //weight: 'bold' // Specify the font weight for the legend labels
                    }
                  }
                },
          
                beforeDraw: function(chart) {
                  const ctx = chart.ctx;
                  ctx.font = 'bold 16px Arial'; // Customize the font for the chart title
                  ctx.fillStyle = 'black'; // Customize the color of the chart title
                  ctx.fillText('Monthly Sales', chart.width / 2, 30); // Customize the position of the chart title
                }
              },
          },
          
      
          };
          new Chart(ctx, cfg);
          })

          //profile report
          
          var profileReport = {
            series: [
              {
                name: "Sales",
                data: sales.results.map(function(datas){
                  return datas.total;
                })
              }
            ],
            chart: {
              height: 100,
              type: 'line',
              zoom: {
                enabled: false
              },
              toolbar: {
                show: false
              },
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth',
              colors: ['#fcba03'],
              width: 5, // Adjust the line width as per your preference
              dashArray: 0, // Remove any dashes in the line
              lineCap: 'round',
            },
            grid:{
              show: false
            },
          
            xaxis: {
              categories: sales.results.map(function(datas){
                return datas.x;
              }),
              labels: {
                show: false
              },
              axisBorder: {
                show: false
              },
              axisTicks: {
                show: false
              },
              grid: {
                show:false,
              }
            },

            yaxis: {
              labels: {
                show: false
              },
              axisBorder: {
                show: false
              },
              axisTicks: {
                show: false
              },
              grid: {
                show:false,
              }
            }
          };
  
          var profileChart = new ApexCharts(document.querySelector("#profileReport"), profileReport);
          profileChart.render();
/*
          var profileReport = document.getElementById("profileReport");
          new Chart(profileReport, {
                type: "line",
                data: {
                  labels: sales.results.map(function (data) {
                    return data.x;
                  }),
                  datasets: [
                    {
                      label: "Sales",
                      data: sales.results.map(function (data) {
                        return data.total;
                      }),
                      borderColor: "#fae711", // Set the line color here, for example, red color
                      borderWidth: 7, // Adjust the line width as per your preference
                      fill: false,
                    
                    }
                  ]
                },
                options: {
                  plugins: {
                    tooltip: {
                      enabled: true
                    },
                    legend: {
                      display: false, // Set legend to false to remove it
                    }
                  },
                  scales: {
                    x: {
                      display: false
                    },
                    y: {
                      display: false
                    }
                  },
                  elements: {
                    point: {
                      radius: 0, // Set the point radius to 0 to remove the data points
                      hoverRadius: 0 // Set the hover radius to 0 to remove the data points on hover
                    },
                    line: {
                      shadowColor: "rgba(59, 50, 50, 0.6)", // Set the shadow color
                      shadowBlur: 10, // Adjust the shadow blur
                      shadowOffsetY: 8,// Adjust the shadow offset
                      tension: .4
                    }
                  },
                  
                }
              });*/


  






        })

//growthchartfeature  
        // day feature
        var chart;
        $.get(`/api/salesmadeprevday?org=<%=orgId%>`, function(data, status){
          console.log("sales made prev day", data);
          let dayGrowth;
          if(data.results.length == 0 ){
            dayGrowth = 0;
            console.log('empty');
          }
          else if(data.results.length == 1 ){
            let totalOrders = parseInt(data.results[0].row_count)
            dayGrowth = totalOrders*100;
          }
          else{
            let totalorderstoday = data.results[0].row_count;
            let totalordersyes = data.results[1].row_count;
            dayGrowth = parseFloat(Math.abs(totalorderstoday-totalordersyes)/totalordersyes);
            dayGrowth = dayGrowth<=0? 0:dayGrowth;
          }

          $("#textgrowthstatus").text(`${dayGrowth}% More Orders Today`);
          $("#salesgrowth").text(`${dayGrowth}%`);
      
        
        var options = {
          chart: {
            height: 240,
            type: "radialBar",
          },
          series: [dayGrowth],
          colors: ["#20E647"],
          plotOptions: {
            radialBar: {
              hollow: {
                margin: 0,
                size: "60%",
                background: "#0a0d52"
              },
              track: {
                dropShadow: {
                  enabled: true,
                  top: 10,
                  left: 10,
                  blur: 10,
                  opacity: 0.2
                }
              },
              dataLabels: {
                name: {
                  offsetY: -10,
                  color: "#fff",
                  fontSize: "18px"
                },
                value: {
                  color: "#fff",
                  fontSize: "30px",
                  show: true
                }
              }
            }
          },
          fill: {
            type: "gradient",
            gradient: {
              shade: "dark",
              type: "vertical",
              gradientToColors: ["#329ddb"],
              stops: [0, 100]
            }
          },
          stroke: {
            lineCap: "round"
          },
          labels: ["Growth"]
        };
        chart = new ApexCharts(document.querySelector("#companygrowthchart"), options);
        chart.render();
      })

      // click function for day growth
      $("#perdaygrowth").click(function(){
        $.get(`/api/salesmadeprevday?org=<%=orgId%>`, function(data, status){
          let dayGrowth;
          if(data.results.length == 0 ){
            dayGrowth = 0;
            console.log('empty');
          }
          else if(data.results.length == 1 ){
            let totalOrders = parseInt(data.results[0].row_count)
            dayGrowth = totalOrders*100;
          }
          else{
            let totalorderstoday = data.results[0].row_count;
            let totalordersyes = data.results[1].row_count;
            dayGrowth = parseFloat(Math.abs(totalorderstoday-totalordersyes)/totalordersyes);
            dayGrowth = dayGrowth<=0? 0:dayGrowth;
          }

          $("#textgrowthstatus").text(`${dayGrowth}% More Orders Today`);

          var options = {
            chart: {
              height: 240,
              type: "radialBar",
            },
            series: [dayGrowth],
            colors: ["#20E647"],
            plotOptions: {
              radialBar: {
                hollow: {
                  margin: 0,
                  size: "60%",
                  background: "#0a0d52"
                },
                track: {
                  dropShadow: {
                    enabled: true,
                    top: 10,
                    left: 10,
                    blur: 10,
                    opacity: 0.2
                  }
                },
                dataLabels: {
                  name: {
                    offsetY: -10,
                    color: "#fff",
                    fontSize: "18px"
                  },
                  value: {
                    color: "#fff",
                    fontSize: "30px",
                    show: true
                  }
                }
              }
            },
            fill: {
              type: "gradient",
              gradient: {
                shade: "dark",
                type: "vertical",
                gradientToColors: ["#329ddb"],
                stops: [0, 100]
              }
            },
            stroke: {
              lineCap: "round"
            },
            labels: ["Growth"]
          };
          chart.destroy();
          chart = new ApexCharts(document.querySelector("#companygrowthchart"), options);
          chart.render();

          
        })
      })

      //click fucntion for month growth
       $("#permonthgrowth").click(function(){
          $.get(`/api/salesmadeprevmonth?org=<%=orgId%>`, function(data, status){
            console.log(data);
              let monthGrowth;
              if(data.results.length == 0 ){
                monthGrowth = 0;
                console.log('empty');
              }
              else if(data.results.length == 1 ){
                let totalOrders = parseInt(data.results[0].row_count)
                monthGrowth = totalOrders*100;
              }
              else{
                let totalorderstoday = data.results[0].row_count;
                let totalordersyes = data.results[1].row_count;
                monthGrowth = parseFloat(Math.abs(totalorderstoday-totalordersyes)/totalordersyes);
                monthGrowth = monthGrowth<=0? 0:monthGrowth;
              }

              $("#textgrowthstatus").text(`${monthGrowth}% More Orders this Month`);
              
            var options = {
              chart: {
                height: 240,
                type: "radialBar",
              },
              series: [monthGrowth],
              colors: ["#20E647"],
              plotOptions: {
                radialBar: {
                  hollow: {
                    margin: 0,
                    size: "60%",
                    background: "#0a0d52"
                  },
                  track: {
                    dropShadow: {
                      enabled: true,
                      top: 10,
                      left: 10,
                      blur: 10,
                      opacity: 0.2
                    }
                  },
                  dataLabels: {
                    name: {
                      offsetY: -10,
                      color: "#fff",
                      fontSize: "18px"
                    },
                    value: {
                      color: "#fff",
                      fontSize: "30px",
                      show: true
                    }
                  }
                }
              },
              fill: {
                type: "gradient",
                gradient: {
                  shade: "dark",
                  type: "vertical",
                  gradientToColors: ["#329ddb"],
                  stops: [0, 100]
                }
              },
              stroke: {
                lineCap: "round"
              },
              labels: ["Growth"]
            };
            chart.destroy();
            chart = new ApexCharts(document.querySelector("#companygrowthchart"), options);
            chart.render();

            
          })
        })

        //click function for year growth
        $("#peryeargrowth").click(function(){
          $.get(`/api/salesmadeprevyear?org=<%=orgId%>`, function(data, status){
            console.log(data);
            let yearGrowth;
              if(data.results.length == 0 ){
                yearGrowth = 0;
                console.log('empty');
              }
              else if(data.results.length == 1 ){
                let totalOrders = parseInt(data.results[0].row_count)
                yearGrowth = totalOrders*100;
              }
              else{
                let totalorderstoday = data.results[0].row_count;
                let totalordersyes = data.results[1].row_count;
                yearGrowth = parseFloat(Math.abs(totalorderstoday-totalordersyes)/totalordersyes);
                yearGrowth = yearGrowth<=0? 0:yearGrowth;
              }


            $("#textgrowthstatus").text(`${yearGrowth}% More Orders This Year`)
            var options = {
              chart: {
                height: 240,
                type: "radialBar",
              },
              series: [yearGrowth],
              colors: ["#20E647"],
              plotOptions: {
                radialBar: {
                  hollow: {
                    margin: 0,
                    size: "60%",
                    background: "#0a0d52"
                  },
                  track: {
                    dropShadow: {
                      enabled: true,
                      top: 10,
                      left: 10,
                      blur: 10,
                      opacity: 0.2
                    }
                  },
                  dataLabels: {
                    name: {
                      offsetY: -10,
                      color: "#fff",
                      fontSize: "18px"
                    },
                    value: {
                      color: "#fff",
                      fontSize: "30px",
                      show: true
                    }
                  }
                }
              },
              fill: {
                type: "gradient",
                gradient: {
                  shade: "dark",
                  type: "vertical",
                  gradientToColors: ["#329ddb"],
                  stops: [0, 100]
                }
              },
              stroke: {
                lineCap: "round"
              },
              labels: ["Growth"]
            };
            chart.destroy();
            chart = new ApexCharts(document.querySelector("#companygrowthchart"), options);
            chart.render();

            
          })
        })

//end of growthstatus

    
        $.get('/api/gettotalpurchaseqty?org=<%=orgId%>', function(data, status){
          console.log(data);
          var revenue = Math.round(data.results[0].total);
          var formatedRevenue = (revenue.toLocaleString());
          $("#inventorycost").text(`₹${formatedRevenue}`);
          var orders = data.results[0].row_count;
          var forders = (orders.toLocaleString());
          $("#purchaseordersmade").text(forders);
        })








          var check = JSON.parse(localStorage.getItem('name'));
          if(check == null){
            console.log('no items found');
            $("#congratsowner").text(`Congratulations! 🎉`);
            localStorage.setItem("name", JSON.stringify({
                pharmacyName: "<%= name %>",
                
                number: "<%= number %>",
            
                pharmaId: "<%= pharmacyId %>",
                address: "<%=address%>",
                dl1: "<%=dl1%>",
                dl2: "<%=dl2%>"
              })
            );
          }
          else{
            $("#congratsowner").text(`Congratulations! 🎉`);
            console.log('item is found');
          }

          
          $.get('/api/orderdetails?org=<%=orgId%>', function (data, status) {
            var items = data.data;
            var revenue = 0;
            for (let i in items) {
              revenue += items[i].grand_total;
            }
            revenue = Math.round(revenue);
            var formatedRevenue = (revenue.toLocaleString());
            console.log(formatedRevenue);
            $("#totalrevenue").text('₹'+formatedRevenue);

            var totalOrders = data.data.length;
            var formatedOrders = (totalOrders.toLocaleString());
            $("#totalorders").text(formatedOrders);

            var year = new Date();
            $("#yearreport").text(`Year ${year.getFullYear()}`);
            
            var yearRevenue = parseInt(revenue/1000);

            $("#yearrevenue").text(`₹${yearRevenue}K`)


          })

          //profile report
          
          
      
        


          


















        })

      </script>

  </body>

  </html>