<%- include('../partials/headercode.ejs') %>
    <!-- Atharv -->

    <body>

        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar  ">
            <div class="layout-container">

                <!-- sidebar imported -->
                <%- include('../partials/sidebar.ejs') %>

                    <!-- Layout container -->
                    <div class="layout-page">

                        <!-- navbar imported -->
                        <%- include('../partials/navbar.ejs') %>

                            <!-- Content wrapper -->
                            <div class="content-wrapper">

                                <!-- Content -->

                                <div class="container-xxl flex-grow-1 container-p-y">


                                    <div class="d-flex justify-content-between m-0 p-0">
                                        <h4 class="fw-bold py-3 mb-1"> Add Batch</h4>
                                        <button type="button" class="btn btn-icon btn-danger my-2 mx-3"
                                            onclick="history.back()">
                                            <i class='bx bx-x bx-sm'></i>
                                        </button>
                                    </div>
                                    <hr class="mb-4">

                                    <div class="card mb-4 mx-auto col-md-10">

                                            <div class="card-body ">
                                                <h4 class="fs-5">Product Details</h4>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div>
                                                            <label class="col-form-label"
                                                            for="basic-icon-default-companyname">Product name</label>
                                                            <p class="fw-bold pb-0" id="productname"></p>
                                                        </div>

                                                        <div>
                                                            <label class="col-form-label"
                                                            for="basic-icon-default-companyname">Mfg/Mkt</label>
                                                            <p class="fw-bold pb-0" id="brand">
                                                            </p>
                                                        </div>

                                                        <div>
                                                            <label class="col-form-label"
                                                            for="basic-icon-default-companyname">Salt</label>
                                                            <p class="fw-bold pb-0" id="salt">
                                                            </p>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div>
                                                            <label class="col-form-label"
                                                            for="basic-icon-default-companyname">HSN Code</label>
                                                            <p class="fw-bold pb-0" id="hsncode"></p>
                                                        </div>

                                                        <div>
                                                            <label class="col-form-label"
                                                            for="basic-icon-default-companyname">GST</label>
                                                            <p class="fw-bold pb-0" id="gst"></p>
                                                        </div>

                                                        <!-- <div>
                                                            <label class="col-form-label"
                                                            for="basic-icon-default-companyname">Shelf Label</label>
                                                            <p class="fw-bold pb-0" id=""></p>
                                                        </div> -->
                                                    </div>
                                                    <div class="col-md-4">
                                                        <img class="w-100"alt="Calpol 500mg Tablet" src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/cropped/dpsh8z3rldqlg33kavbh.jpg" title="Calpol 500mg Tablet">
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>

                                    <div class="card mb-4 mx-auto col-md-8">
                                 
                                            <div class="card-body ">
                                                <h4 class="fs-5">Batch Details</h4>
                                                <hr>

                                                <div class="row mb-2">
                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-companyname">Quantity</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group input-group-merge">
                                                                <span id="basic-icon-default-companyname2"
                                                                    class="input-group-text"></span>
                                                                <input type="text" class="form-control"
                                                                    id="basic-icon-default-companyname" placeholder=""
                                                                    aria-label="John Doe" name="addqty"
                                                                    aria-describedby="basic-icon-default-companyname2">
                                                                <select class="form-select" id="unit" name="unit"
                                                                    aria-label="unit">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-companyname">Conversion</label>
                                                        <div class="col-sm-8 ">
                                                            <div class="align-middle">
                                                                <p class="" id="conversion">S</p> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-companyname">MRP</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group input-group-merge">
                                                                <span id="basic-icon-default-companyname2"
                                                                    class="input-group-text"></span>
                                                                <input type="text" class="form-control"
                                                                    id="basic-icon-default-companyname" placeholder=""
                                                                    aria-label="John Doe" name="addmrp"
                                                                    aria-describedby="basic-icon-default-companyname2">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-companyname">Purchase Rate</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group input-group-merge">
                                                                <span id="basic-icon-default-companyname2"
                                                                    class="input-group-text"></span>
                                                                <input type="text" class="form-control"
                                                                    id="basic-icon-default-companyname" placeholder=""
                                                                    aria-label="John Doe" name="addpur"
                                                                    aria-describedby="basic-icon-default-companyname2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="row mb-3">
                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-companyname">GST %</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group input-group-merge">
                                                                <span id="basic-icon-default-companyname2"
                                                                    class="input-group-text"></span>
                                                                <input type="text" class="form-control"
                                                                    id="basic-icon-default-companyname" placeholder=""
                                                                    aria-label="John Doe"
                                                                    aria-describedby="basic-icon-default-companyname2">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-companyname">HSN Code</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group input-group-merge">
                                                                <span id="basic-icon-default-companyname2"
                                                                    class="input-group-text"></span>
                                                                <input type="text" class="form-control"
                                                                    id="basic-icon-default-companyname" placeholder=""
                                                                    aria-label="John Doe"
                                                                    aria-describedby="basic-icon-default-companyname2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->


                                                <div class="row mb-3">
                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-address">Exp Date</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group input-group-merge">

                                                                <input class="form-control" type="date"
                                                                    id="html5-date-input" name="addexp"/>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row col-sm-6">
                                                        <label class="col-sm-4 col-form-label"
                                                            for="basic-icon-default-email">Shelf Label</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-group input-group-merge">
                                                                <span class="input-group-text"></span>
                                                                <input type="text" id="basic-icon-default-email"
                                                                    class="form-control" placeholder="" name="addshelf"
                                                                    aria-label="john.doe"
                                                                    aria-describedby="basic-icon-default-email2">
                                                                <span id="basic-icon-default-email2"
                                                                    class="input-group-text"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>






                                                <div class="row justify-content-end">
                                                    <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary" id="submitbatch">Add</button>
                                                    </div>
                                                </div>


                                            </div>
                                    
                                    </div>


                                </div>
                                <!-- / Content -->

                                <div class="content-backdrop fade"></div>
                            </div>
                            <!-- Content wrapper -->
                    </div>
                    <!-- / Layout page -->
            </div>



            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>


        </div>
        <!-- / Layout wrapper -->

        <%- include('../partials/footercode.ejs') %>
        <script>
            $(document).ready(function(){
                var productId=JSON.parse(localStorage.getItem('addbatchid'));

                $.get(`/api/getinventory/${productId}`, function(data, status){
                    var items = data.data[0];
                    console.log(items);
                    $("#productname").text(items.med_name);
                    $("#hsncode").text(items.hsn);
                    $("#brand").text(items['mfd/mkt']);
                    $("#salt").text(items.salt_composition);
                    $("#gst").text(items.gst+'%');




                    $("#conversion").text(`1 ${items.primary_unit} = ${items.conversion} ${items.secondary_unit}`)
                    $("#unit").append(`<option> ${items.primary_unit} </option>`);
                    $("#unit").append(`<option> ${items.secondary_unit} </option>`);

                })



                $("#submitbatch").click(function(){
                    var batchDetails = {
                       product_id: productId,
                       org_id: '<%=orgId%>',
                       exp_date: $("input[name='addexp']").val(),
                       qty_unit: $("#unit").val(),
                       batch_qty: $("input[name='addqty']").val(),
                       purchase_rate: $("input[name='addpur']").val(),
                       mrp: $("input[name='addmrp']").val(),
                       shelf_label: $("input[name='addshelf']").val()
                    }
                    console.log(batchDetails);
                    
                    $.ajax({
                        url: `/api/addbatch/`,
                        type: 'POST',
                        data: JSON.stringify(batchDetails),
                        contentType: 'application/json',
                        success: function(response){
                            window.location.href='/product_stock'                  
                        },
                        error: function(error){
                            console.log(error);
                        }
                    })

                })


            })
        </script>

    </body>


    </html>