<%- include('../partials/headercode.ejs') %>
    <!-- Atharv -->

    <body>

        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar  ">
            <div class="layout-container">

                <!-- sidebar imported -->
                <%- include('../partials/sidebar.ejs') %>

                    <!-- Layout container -->
                    <div class="layout-page">

                        <!-- navbar imported -->
                        <%- include('../partials/navbar.ejs') %>

                            <!-- Content wrapper -->
                            <div class="content-wrapper">

                                <!-- Content -->

                                <div class="container-xxl flex-grow-1 container-p-y">

                                    <div class="d-flex justify-content-between m-0 p-0">
                                        <h4 class="fw-bold py-3 mb-1">Inventory</h4>
                                        <div class="d-flex justify-content-between mx-4 mb-2">
                                            <div class="text-center mt-3 mx-2">
                                                <a class="btn btn-danger" style="color: white;" id="nearExpiry">
                                                    Near Expiry</a>
                                            </div>
                                            <div class="text-center mt-3 mx-2">
                                                <a class="btn btn-primary" style="color: white;" href="/add_product">+Add Product</a>
                                            </div>
                                        </div>
                                        
                                    </div>


                                    <div class="d-flex justify-content-between m-0 p-0">
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text" id="basic-addon-search31"><i
                                                    class="bx bx-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Search Product..."
                                                onkeyup="var value = $(this).val().toLowerCase();$('#inventoryData tbody tr').filter(function() {$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});">
                                        </div>

                                    </div>


                                    <hr class="mb-4">

                                    <div class="card" id="inventoryData">
                                        <h5 class="card-header">Product List</h5>
                                        <div class="table-responsive text-nowrap" style="min-height: 60vh;">
                                            <table class="table table-hover h-100">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div>Product Name</div>

                                                        </th>

                                                        <th>
                                                            <div>Pack Units</div>

                                                        </th>
                                                        <th>
                                                            <div>HSN</div>

                                                        </th>
                                                        <th>
                                                            <div>Rem Stock</div>

                                                        </th>
                                                        <th>
                                                            <div>Status</div>

                                                        </th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0" id="additems">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <!-- / Content -->

                                <div class="content-backdrop fade"></div>
                            </div>
                            <!-- Content wrapper -->
                    </div>
                    <!-- / Layout page -->
            </div>

            <!-- Overlay -->
            <div class="layout-overlay layout-menu-toggle"></div>

        </div>
        <!-- / Layout wrapper -->

        <%- include('../partials/footercode.ejs') %>

            <script>
                $(document).ready(function () {

                    var orgId = "<%=orgId%>"
                    console.log(orgId);

                    $("#nearExpiry").click(function () {
                        // $.get(`/api/getNearExpiryProducts/${orgId}`);
                        window.location.href = `/near_expiry_list`;
                    });
                    

                    $.get(`/api/getallinventory?orgID=${orgId}`, function (data, status) {
                        var lowHtml = `<td><span class="badge bg-label-danger me-1">LOW</span></td>`;
                        var okHtml = `<td><span class="badge bg-label-success me-1">OK</span></td>`;
                        var items = data.data;
                        console.log('in product stock', items);

                        for (let i = 0; i < items.length; i++) {
                            var inStock = items[i].batch_qty != 0 ? items[i].batch_qty : "ADD BATCH";

                            var status = items[i].batch_qty >= items[i].threshold ? okHtml : lowHtml;

                            var html = `
                                <tr>
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong>${items[i].med_name}</strong></td>
                                    <td>${items[i].primary_unit} of ${items[i].secondary_unit}</td>
                                    <td>${items[i].hsn}</td>
                                    <td>${inStock}</td>
                                    ${status}
                                    <td>
                                        <div class="dropdown">
                                            <button type="button"
                                                class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown"><i
                                                    class="bx bx-dots-vertical-rounded"></i></button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" id="addbatch" href="/add_batch/${items[i].product_id}"><i class='bx bx-customize me-1'></i>Add Batch</a>
                                                <a class="dropdown-item" id="viewbatches" href="/product_batch/${items[i].product_id}"><i class="bx bx-show me-1"></i>View Batches</a>
                                                <a class="dropdown-item" id="editproduct" href="/update_addproduct/${items[i].product_id}"><i class="bx bx-edit-alt me-1"></i>Edit Product</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            `

                            $("#additems").append(html);
                        }
                    });

                })
            </script>
    </body>


    </html>