<%- include('../partials/headercode.ejs') %>
    <!-- Atharv -->

    <body>

        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar  ">
            <div class="layout-container">

                <!-- sidebar imported -->
                <%- include('../partials/sidebar.ejs') %>

                    <!-- Layout container -->
                    <div class="layout-page">

                        <!-- navbar imported -->
                        <%- include('../partials/navbar.ejs') %>

                            <!-- Content wrapper -->
                            <div class="content-wrapper">

                                <!-- Content -->

                                <div class="container-xxl flex-grow-1 container-p-y">

                                    <div class="d-flex justify-content-between m-0 p-0">
                                        <h4 class="fw-bold py-3 mb-1">Product Batches</h4>
                                        <a type="button" class="btn btn-icon btn-danger my-2 mx-3"
                                            href="/product_stock">
                                            <i class='bx bx-x bx-sm'></i>
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="card mb-4 mx-auto col-md-10">

                                        <div class="card-body ">
                                            <h4 class="fs-5">Product Details</h4>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div>
                                                        <label class="col-form-label"
                                                            for="basic-icon-default-companyname">Product name</label>
                                                        <p class="fw-bold pb-0" id="productname"></p>
                                                    </div>

                                                    <div>
                                                        <label class="col-form-label"
                                                            for="basic-icon-default-companyname">Mfg/Mkt</label>
                                                        <p class="fw-bold pb-0" id="brand">
                                                        </p>
                                                    </div>

                                                    <div>
                                                        <label class="col-form-label"
                                                            for="salt">Salt</label>
                                                        <p class="fw-bold pb-0" id="salt">
                                                        </p>
                                                    </div>

                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <label class="col-form-label"
                                                            for="hsn">HSN Code</label>
                                                        <p class="fw-bold pb-0" id="hsncode"></p>
                                                    </div>

                                                    <div>
                                                        <label class="col-form-label"
                                                            for="gst">GST</label>
                                                        <p class="fw-bold pb-0" id="gst"></p>
                                                    </div>

                                                    <div>
                                                        <label class="col-form-label"
                                                            for="category">Category</label>
                                                        <p class="fw-bold pb-0" id="category">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="w-75" id="product_img">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mb-3">

                                <div class="card">
                                    <div class="d-flex justify-content-between m-0 p-0">
                                        <h5 class="card-header">Batch List</h5>
                                        <div class=" text-center mt-3 ">
                                            <button class="btn btn-primary mx-4" style="color: white;"
                                                id="addbatchinview">+
                                                Add Batch</button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive text-nowrap">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <div> Batch No.</div>

                                                        </th>

                                                        <th>
                                                            <div>Expiry</div>

                                                        </th>
                                                        <th>
                                                            <div>Unit</div>

                                                        </th>
                                                        <th>
                                                            <div>MRP</div>

                                                        </th>
                                                        <th>
                                                            <div>Initial Qty</div>

                                                        </th>
                                                        <th>
                                                            <div>Current Qty (Pri: Sec)</div>

                                                        </th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-border-bottom-0" id="batchcart">

                                                    <!-- <td>
                                                        <div class="action-btns">
                                                            <button type="button" class="btn p-0 mx-2"><i
                                                                class='bx bxs-edit'></i></button>
                                                                <button type="button" class="btn p-0 mx-2"><i
                                                                    class="bx bx-trash me-1"></i></button>
                                                        </div>
                                                    </td> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- / Content -->




                            <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>



        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>


        </div>
        <!-- / Layout wrapper -->

        <%- include('../partials/footercode.ejs') %>
            <script>
                $(document).ready(function () {
                    // var productId = JSON.parse(localStorage.getItem('addbatchid'));

                    var productId = '<%= id %>'
                    console.log(productId)

                    $.get(`/api/getinventory?productId=${productId}&orgId=<%=orgId%>`, function (data, status) {
                        var items = data.data[0];
                        console.log('in view batches', items);
                        $("#productname").text(items.med_name);
                        $("#hsncode").text(items.hsn);
                        $("#brand").text(items.mfd_mkt);
                        $("#salt").text(items.salt_composition);
                        $("#gst").text(items.gst + '%');
                        $("#category").text(items.category_name);
                        $("#product_img").attr('src', items.img_url);



                        $.get(`/api/getbatch?id=${productId}&org=<%=orgId%>`, function (batch, status) {
                            var batch = batch.data;
                            console.log('batch details', batch);
                            for (let i = 0; i < batch.length; i++) {

                                var date = new Date(batch[i].exp_date);
                                var expdate = date.toISOString().split('T')[0];
                                //var totalCost = batch[i].purchase_rate*batch[i].batch_qty;
                                //<td>₹${batch[i].purchase_rate}</td>
                                //<td>₹${totalCost}</td>
                                var totalQty = parseInt(batch[i].batch_qty);
                                var saledPri = parseInt(batch[i].saled_pri_qty);
                                var saledSec = parseInt(batch[i].saled_sec_qty);
                                var conversion = parseInt(batch[i].conversion);

                                var remPriQty = totalQty - saledPri;
                                var remSecQty = (conversion - saledSec) == conversion ? 0 : conversion - saledSec;


                                var htmlData = `
                                    <tr>
                                        <td><i
                                                class="fab fa-angular fa-lg text-danger me-3"></i><strong>${batch[i].batch_name}</strong>
                                        </td>
                                        <td>${expdate}</td>
                                        <td>1 ${items.primary_unit} of ${batch[i].conversion} ${items.secondary_unit}</td>
                                        <td>₹${batch[i].mrp}</td>
                                        <td>${batch[i].batch_qty}</td>
                                        <td>${remPriQty} : ${remSecQty}</td>
                                        <td>
                                            <div class="action-btns">
                                                <a type="button" class="btn p-0 mx-2" href="/api/deletebatch/${batch[i].batch_id}"><i class="bx bx-trash me-1"></i></a>
                                            </div>
                                        </td>
                                        
                                    </tr>`

                                $("#batchcart").append(htmlData);

                            }

                        })
                    })
                    $("#addbatchinview").click(function () {
                        window.location.href = `/add_batch/${productId}`;
                    })

                })
            </script>

    </body>


    </html>