<%- include('../partials/headercode.ejs') %>


    <body>





        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar  ">
            <div class="layout-container">

                <!-- sidebar imported -->
                <%- include('../partials/sidebar.ejs') %>

                    <!-- Layout container -->
                    <div class="layout-page">

                        <!-- navbar imported -->
                        <%- include('../partials/navbar.ejs') %>



                            <!-- Content wrapper -->
                            <div class="content-wrapper">




                                <!-- Content -->

                                <div class="container-xxl flex-grow-1 container-p-y">
                                    <h4 class="fw-bold py-3 mb-1"> Purchase Order</h4>
                                    <hr class="mb-4">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Vendor Name</h5>
                                                <div class="card-body" id="vendorname">
                                                    <select class="form-select" id="exampleFormControlSelect1"
                                                        aria-label="Default select example">
                                                        <option selected>Select Vendor</option>
                                                        <%vendors.forEach(function(vendor) {%>
                                                            <option value="<%= vendor.vendor_id %>"><%= vendor.vendor_name %></option>
                                                        <%});%>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card mb-4">

                                                <h6 class="card-header" id="address"></h6>
                                                <h6 class="card-header" id="contact"></h6>

                                            </div>
                                        </div>




                                    </div>
                                    <hr>



                                    <div class="card mb-4">

                                        <form class="form-main">
                                            <div class="card-body form-block">
                                                <div class="table-responsive text-nowrap ">

                                                    <table class="table table-bordered">


                                                    </table>


                                                    <table class="table table-bordered">

                                                        <thead>
                                                            <tr>
                                                                <th class="col-5">Product Name</th>
                                                                <th class="col-4">Brand Name</th>
                                                                <th class="col-1">Quantity</th>
                                                                <th class="col-2">Unit</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="form-control"
                                                                        id="basic-default-name"
                                                                        placeholder="Medicine Name" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control"
                                                                        id="basic-default-name" placeholder="" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control"
                                                                        id="basic-default-name" placeholder="" />
                                                                </td>
                                                                <td>
                                                                    <select class="form-select"
                                                                        id="exampleFormControlSelect1"
                                                                        aria-label="Default select example">
                                                                        <option selected>Select Unit</option>
                                                                        <option value="1">Box</option>
                                                                        <option value="1">Packet</option>
                                                                    </select>
                                                                </td>
                                                            </tr>

                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                            <div class="buttonBox text-center pb-3">
                                                <btn class="btn btn-primary" style="color: white;">Add</btn>
                                                <input type="reset" class="btn btn-primary" style="color: white;" value="Clear" />
                                            </div>
                                        </form>

                                        

                                    </div>
                                    <!--/ Bordered Table -->

                                    <!-- PO Cart -->
                                    <div class="card mx-3">
                                        <h5 class="card-header">Item Cart</h5>
                                        <div class="card-body">
                                            <div class="table-responsive text-nowrap">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Product name</th>
                                                            <th>Brand name</th>
                                                            <th>Quantity</th>
                                                            <th>Unit</th>
                                                            <th class="col-1">Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                                                <strong>Calpol 1000mg Tablet</strong>
                                                            </td>
                                                            <td>Sun Pharmaceutical Industries Ltd</td>
                                                            <td>20</td>
                                                            <td>Box</td>
                                                            <td>
                                                                <div class="action-btns">
                                                                    <button type="button" class="btn p-0 mx-2"><i
                                                                            class='bx bxs-edit'></i></button>
                                                                    <button type="button" class="btn p-0 mx-2"><i
                                                                            class="bx bx-trash me-1"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>1</td>
                                                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                                                <strong>Actapro Tablet</strong>
                                                            </td>
                                                            <td>Sun Pharmaceutical Industries Ltd</td>
                                                            <td>10</td>
                                                            <td>Box</td>
                                                            <td>
                                                                <div class="action-btns">
                                                                    <button type="button" class="btn p-0 mx-2"><i
                                                                            class='bx bxs-edit'></i></button>
                                                                    <button type="button" class="btn p-0 mx-2"><i
                                                                            class="bx bx-trash me-1"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- / PO Cart -->


                                    <!-- / Content -->


                                    <div class="text-center mt-3">
                                        <button type="button" class="btn btn-primary"
                                            onclick="downloadInvoice()">Submit</button>
                                    </div>



                                    <div class="content-backdrop fade"></div>
                                </div>
                                <!-- Content wrapper -->
                            </div>
                            <!-- / Layout page -->
                    </div>



                    <!-- Overlay -->
                    <div class="layout-overlay layout-menu-toggle"></div>


            </div>
            <!-- / Layout wrapper -->


            <%- include('../partials/footercode.ejs') %>
            <script>
                $(document).ready(function(){
                    $("#address").text("Address:");
                    $("#contact").text("Contact No:");
                    
                    $('#exampleFormControlSelect1').change(function() {
                        var selectedVendorId = $(this).val();
                        
                        $.get(`/getvendor/${selectedVendorId}`, function(data, status){
                            var vendorDetails = data.data;
                            var address = `Address: ${vendorDetails.vendor_address}`
                            var number = `Contact: ${vendorDetails.vendor_contact}`
                            $("#address").text(address);
                            $("#contact").text(number);

                        })
                    })
                    
                    
                    /*
                    var vendorName = [];
                    
                    $.ajax({
                        url: '/allvendors/',
                        method: 'GET',
                        success: function(response) {
                            // Parse the response data as JSON
                            //var vendors = JSON.parse(response);
                            console.log(response.data);
                            for(let i in response.data){
                                vendorName.push({id: response.data[i].vendor_id,  name: response.data[i].vendor_name});
                            }
                            console.log(vendorName);
                            // Render the vendors data using the EJS template
                        
                            
                            $('#vendorname').append(renderedHtml);
                        },
                        error: function(error) {
                            console.log('Error:', error);
                        }
                    });

                */
                })
            </script>




    </body>


    </html>