<%- include('../partials/headercode.ejs') %>

    <body>
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar  ">
            <div class="layout-container">

                <!-- sidebar imported -->
                <%- include('../partials/sidebar.ejs') %>

                    <!-- Layout container -->
                    <div class="layout-page">

                        <!-- navbar imported -->
                        <%- include('../partials/navbar.ejs') %>

                            <!-- Content wrapper -->
                            <div class="content-wrapper">

                                <!-- Content -->

                                <div class="container-xxl flex-grow-1 container-p-y">
                                    <h4 class="fw-bold py-3 mb-1"> Purchase Order</h4>
                                    <hr class="mb-2">

                                    <!-- New Vendor -->
                                    <div class="card mb-2 mx-auto col-md-12">
                                        <div class="card-body ">


                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" for="vendor_name">Distributor
                                                    Name<span style="font-size: 15px; color: red">*</span></label>
                                                <div class="col-sm-10">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-fullname2"
                                                            class="input-group-text"><i class="bx bx-user"></i></span>
                                                        <input type="text" class="form-control" id="vendor_name"
                                                            placeholder="Type the first few letters of your distributors name"
                                                            name="vendor_name">
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" for="vendor_contact">Contact
                                                    Number<span style="font-size: 15px; color: red">*</span></label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-phone2" class="input-group-text"><i
                                                                class="bx bx-phone"></i></span>
                                                        <input id="vendor_contact" class="form-control phone-mask"
                                                            placeholder=" One 10 Digit Mobile Number"
                                                            name="vendor_contact"
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                            type="number" maxlength="10">
                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label ps-4"
                                                    for="vendor_gstin">GSTIN<span
                                                        style="font-size: 15px; color: red">*</span></label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-phone2" class="input-group-text"><i
                                                                class="bx bxs-bank"></i></span>
                                                        <input type="text" id="vendor_gstin"
                                                            class="form-control phone-mask"
                                                            placeholder="Distributor's GSTIN" name="vendor_gstin">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <label class="col-sm-2 col-form-label" for="org_dl_no_1">DL Number
                                                    1<span style="font-size: 15px; color: red">*</span></label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-fullname2"
                                                            class="input-group-text border"><i
                                                                class='bx bx-detail'></i></span>
                                                        <input type="text" id="dl1_ft" value="20"
                                                            style="text-align: center;" class="form-control border"
                                                            readonly>
                                                        <input type="text" id="dl1_st" style="text-align: center;"
                                                            placeholder="State" class="form-control border">
                                                        <input type="text" id="dl1_ct" style="text-align: center;"
                                                            placeholder="City" class="form-control border">
                                                        <input type="text" id="dl1_ln" style="text-align: center;"
                                                            placeholder="Lic. no." class="form-control border"
                                                            minlength="6" maxlength="6">
                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label ps-4" for="org_dl_no_2">DL Number
                                                    2<span style="font-size: 15px; color: red">*</span></label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-merge">
                                                        <span id="basic-icon-default-fullname2"
                                                            class="input-group-text border"><i
                                                                class='bx bx-detail'></i></span>
                                                        <input type="text" id="dl2_ft" value="21"
                                                            style="text-align: center;" class="form-control border"
                                                            readonly>
                                                        <input type="text" id="dl2_st" style="text-align: center;"
                                                            placeholder="State" class="form-control border">
                                                        <input type="text" id="dl2_ct" style="text-align: center;"
                                                            placeholder="City" class="form-control border">
                                                        <input type="text" id="dl2_ln" style="text-align: center;"
                                                            placeholder="Lic. no." class="form-control border"
                                                            minlength="6" maxlength="6">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-0">
                                                <label class="col-sm-2 col-form-label" for="vendor_address">Address<span
                                                        style="font-size: 15px; color: red">*</span></label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-merge">

                                                        <input type="text" id="vendor_address" class="form-control"
                                                            placeholder=" Distributors Address" name="vendor_address">

                                                    </div>
                                                </div>

                                                <label class="col-sm-2 col-form-label ps-4"
                                                    for="vendor_email">Email</label>
                                                <div class="col-sm-4">
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i
                                                                class="bx bx-envelope"></i></span>
                                                        <input type="email" id="vendor_email" class="form-control"
                                                            placeholder="Example: distributor@gmail.com"
                                                            name="vendor_email">

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- New Vendor -->


                                    <!-- <div class="row">

                                        <div class="col-md-6">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Vendor Name</h5>
                                                <div class="card-body" id="vendorname">
                                                    <select class="form-select" id="vendorselect"
                                                        aria-label="Default select example">
                                                        <option selected>Select Vendor</option>
                                                        <%vendors.forEach(function(vendor) {%>
                                                            <option value="<%= vendor.vendor_id %>">
                                                                <%= vendor.vendor_name %>
                                                            </option>
                                                            <%});%>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card mb-4 py-1">

                                                <h6 class="card-header py-1" id="contact"></h6>
                                                <h6 class="card-header py-1" id="email"></h6>
                                                <h6 class="card-header py-1" id="dl_no"></h6>
                                                <h6 class="card-header py-1" id="gstin"></h6>
                                                <h6 class="card-header py-1" id="address"></h6>

                                            </div>
                                        </div>

                                    </div> -->
                                    <hr>

                                    <div class="card mb-4">

                                        <!-- <form class="form-main"> -->
                                        <div class="card-body form-block">
                                            <div class="table-responsive text-nowrap ">

                                                <table class="table table-bordered">

                                                </table>

                                                <table class="table table-bordered">

                                                    <thead>
                                                        <tr>
                                                            <th class="col-sm-3">Product Name</th>
                                                            <th class="col-sm-2">Brand Name</th>
                                                            <th class="col-sm-1">QTY</th>
                                                            <th class="col-sm-2">Unit</th>
                                                            <th class="col-sm">PTR</th>
                                                            <th class="col-sm">Amount</th>
                                                            <th class="col-sm">MRP</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="text" class="form-control"
                                                                    id="basic-default-name"
                                                                    placeholder="Enter product name"
                                                                    name="productname" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control"
                                                                    id="basic-default-name" placeholder=""
                                                                    name="brand" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control px-1"
                                                                    id="basic-default-name" placeholder=""
                                                                    name="quantity" />
                                                            </td>
                                                            <td>
                                                                <select class="form-select px-1"
                                                                    id="exampleFormControlSelect1"
                                                                    aria-label="Default select example"
                                                                    name="unitoption">
                                                                    <option selected>Select Unit</option>
                                                                    <option value="BOX">Box</option>
                                                                    <option value="PACK">Packet</option>
                                                                    <option value="STRIP">Strip</option>
                                                                    <option value="BOTTLE">Bottle</option>
                                                                    <option value="PCS">Piece</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control px-1"
                                                                    id="basic-default-name" placeholder="" name="ptr" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control px-1"
                                                                    id="basic-default-name" placeholder=""
                                                                    name="amount" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control px-1"
                                                                    id="basic-default-name" placeholder="" name="mrp" />
                                                            </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                        <div class="buttonBox text-center pb-3">
                                            <btn class="btn btn-primary" style="color: white;" id="addtocart">Add</btn>
                                            <input type="reset" class="btn btn-primary" style="color: white;"
                                                value="Clear" />



                                        </div>
                                        <!-- </form> -->



                                    </div>
                                    <!--/ Bordered Table -->

                                    <!-- PO Cart -->
                                    <div class="card ">
                                        <h5 class="card-header">Item Cart</h5>
                                        <div class="card-body">
                                            <div class="table-responsive text-nowrap">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Product name</th>
                                                            <th>Brand name</th>
                                                            <th>QTY</th>
                                                            <th>Unit</th>
                                                            <th>PTR</th>
                                                            <th>Amount</th>
                                                            <th>MRP</th>
                                                            <th class="col-1">Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="pocart">


                                                        <!-- <tr>
                                                            <td>1</td>
                                                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                                                <strong>Actapro Tablet</strong>
                                                            </td>
                                                            <td>Sun Pharmaceutical Industries Ltd</td>
                                                            <td>10</td>
                                                            <td>Box</td>
                                                            <td>
                                                                <div class="action-btns">
                                                                    <button type="button" class="btn p-0 mx-2"><i
                                                                            class='bx bxs-edit'></i></button>
                                                                    <button type="button" class="btn p-0 mx-2"><i
                                                                            class="bx bx-trash me-1"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr> -->



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- / PO Cart -->


                                    <!-- / Content -->


                                    <div class="text-center mt-3">
                                        <button type="button" class="btn btn-primary" id="submitpo">Submit</button>
                                    </div>



                                    <div class="content-backdrop fade"></div>
                                </div>
                                <!-- Content wrapper -->
                            </div>
                            <!-- / Layout page -->
                    </div>



                    <!-- Overlay -->
                    <div class="layout-overlay layout-menu-toggle"></div>


            </div>
            <!-- / Layout wrapper -->


            <%- include('../partials/footercode.ejs') %>
                <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
                <script>

                    var cartarray = [];
                    $(document).ready(function () {
                        $("#vendor_name");
                        $("#vendor_contact").prop('readonly', true);
                        $("#vendor_email").prop('readonly', true);
                        $("#vendor_address").prop('readonly', true);
                        $("#vendor_gstin").prop('readonly', true);
                        $("#dl1_st").prop('readonly', true);
                        $("#dl1_ct").prop('readonly', true);
                        $("#dl1_ln").prop('readonly', true);
                        $("#dl2_st").prop('readonly', true);
                        $("#dl2_ct").prop('readonly', true);
                        $("#dl2_ln").prop('readonly', true);
                        var vendorId = -1;
                        //autocomplete suggestion   
                        $("#vendor_name").autocomplete({
                            minLength: 5,
                            source: function (request, response) {

                                $.get('/api/getallvendors', function (data, status) {

                                    let searchTerm = request.term;
                                    let results = data.data.filter(item => item.vendor_name.toLowerCase().includes(searchTerm.toLowerCase())).slice(0, 10);


                                    if (results.length === 0) {
                                        results.push({ vendor_name: null }); // Add a null item for the custom message
                                    }

                                    response(results);
                                })

                            },
                            select: function (event, ui) {
                                setTimeout(function () {
                                    console.log(ui.item);
                                    vendorId = ui.item.vendor_id;

                                    var splitDL1;
                                    var dl_no_1 = ui.item.vendor_dl_no_1;

                                    if (dl_no_1 != '') {

                                        splitDL1 = dl_no_1.split(/-/);
                                        $("#dl1_st").val(splitDL1[1]);
                                        $("#dl1_ct").val(splitDL1[2]);
                                        $("#dl1_ln").val(splitDL1[3]);
                                    }

                                    var splitDL2;
                                    var dl_no_2 = ui.item.vendor_dl_no_2;
                                    if (dl_no_2 != '') {

                                        splitDL2 = dl_no_2.split(/-/);
                                        $("#dl2_st").val(splitDL2[1]);
                                        $("#dl2_ct").val(splitDL2[2]);
                                        $("#dl2_ln").val(splitDL2[3]);
                                    }

                                    $("#vendor_name").val(ui.item.vendor_name);
                                    $("#vendor_contact").val(ui.item.vendor_contact);
                                    $("#vendor_email").val(ui.item.vendor_email);
                                    $("#vendor_address").val(ui.item.vendor_address);
                                    $("#vendor_gstin").val(ui.item.vendor_gstin);


                                }, 0)
                            }
                        }).data('ui-autocomplete')._renderItem = function (ul, item) {

                            if (item.vendor_name) {
                                $("#vendor_contact").prop('readonly', true);
                                $("#vendor_email").prop('readonly', true);
                                $("#vendor_address").prop('readonly', true);
                                $("#vendor_gstin").prop('readonly', true);
                                $("#dl1_st").prop('readonly', true);
                                $("#dl1_ct").prop('readonly', true);
                                $("#dl1_ln").prop('readonly', true);
                                $("#dl2_st").prop('readonly', true);
                                $("#dl2_ct").prop('readonly', true);
                                $("#dl2_ln").prop('readonly', true);

                                return $('<li>')
                                    .append('<div>' + item.vendor_name + '</div>')
                                    .appendTo(ul);
                            }
                            else {
                                $("#vendor_contact").prop('readonly', false);
                                $("#vendor_email").prop('readonly', false);
                                $("#vendor_address").prop('readonly', false);
                                $("#vendor_gstin").prop('readonly', false);
                                $("#dl1_st").prop('readonly', false);
                                $("#dl1_ct").prop('readonly', false);
                                $("#dl1_ln").prop('readonly', false);
                                $("#dl2_st").prop('readonly', false);
                                $("#dl2_ct").prop('readonly', false);
                                $("#dl2_ln").prop('readonly', false);
                                return $('<li>').append('<option disabled>No Distributer With this Name. Please Add all the details of New Vendor Down</option>').appendTo(ul);
                            }

                        };


                        /*
                                                $("#contact").text("Contact No :");
                                                $("#email").text("Email :");
                                                $("#dl_no").text("DL No. :");
                                                $("#gstin").text("GSTIN :");
                                                $("#address").text("Address :");
                        
                                                var vendorId = -1;
                                                $('#vendorselect').change(function () {
                                                    var selectedVendorId = $(this).val();
                        
                                                    $.get(`/api/getvendor/${selectedVendorId}`, function (data, status) {
                                                        var vendorDetails = data.data;
                                                        console.log(vendorDetails);
                                                        vendorId = vendorDetails.vendor_id;
                                                        var number = `Contact: ${vendorDetails.vendor_contact}`
                                                        var email = `Email : ${vendorDetails.vendor_email}`
                                                        var dl_no = `DL No. : ${vendorDetails.vendor_dl_no}`
                                                        var gstin = `GSTIN : ${vendorDetails.vendor_gstin}`
                                                        var address = `Address : ${vendorDetails.vendor_address}`
                                                        $("#contact").text(number);
                                                        $("#email").text(email);
                                                        $("#dl_no").text(dl_no);
                                                        $("#gstin").text(gstin);
                                                        $("#address").text(address);
                                                    })
                                                })*/
                        // caching all the products
                        if ('caches' in window) {
                            caches.keys().then(name => {
                                if (name.length == 0) {
                                    console.log('do something');
                                    caches.open('productCache').then((cache) => {
                                        cache.add('/api/allsample');
                                    })
                                }
                                else {
                                    console.log('do nothing');
                                }
                            })
                        }
                        //end of caching

                        // autocomplete functionality
                        var productId = -1;
                        $("input[name='productname']").autocomplete({
                            minLength: 3,
                            source: function (request, response) {
                                if ('caches' in window) {
                                    caches.match(`/api/allsample`).then(res => {
                                        if (res) {
                                            res.json().then(data => {
                                                let searchTerm = request.term;
                                                let results = data.result.filter(item => item.med_name.toLowerCase().includes(searchTerm.toLowerCase())).slice(0, 10);
                                                response(results);
                                            })
                                        }
                                    });
                                } else {
                                    $.get('/api/allsample', function (data, start) {
                                        let searchTerm = request.term;
                                        let results = data.result.filter(item => item.med_name.toLowerCase().includes(searchTerm.toLowerCase())).slice(0, 10);
                                        response(results);
                                    })
                                }
                            },
                            select: function (event, ui) {
                                setTimeout(function () {
                                    console.log(ui.item);
                                    productId = ui.item.sample_id;
                                    $("input[name='productname']").val(ui.item.med_name);
                                    $("input[name='brand']").val(ui.item["mfd/mkt"]);
                                }, 0)
                            }
                        }).data('ui-autocomplete')._renderItem = function (ul, item) {
                            return $('<li>')
                                .append('<div>' + item.med_name + (item.salt_composition) + '</div>')
                                .appendTo(ul);
                        };
                        //endof autocomplete

                        //logic for calculating amount
                        var qtyInput = $("input[name='quantity']");
                        var ptrInput = $("input[name='ptr']");
                        var amountInput = $("input[name='amount']");

                        ptrInput.on("input", calculateTotal);
                        qtyInput.on("input", calculateTotal);

                        function calculateTotal() {
                            var qty = parseInt(qtyInput.val()) || 0;
                            var ptr = parseFloat(ptrInput.val()) || 0;

                            totalAmt = qty * ptr;

                            amountInput.val(totalAmt.toFixed(2));
                        }

                        var setLocalData;
                        var getLocalData;
                        var htmlData;
                        $("#addtocart").click(function () {

                            if ($("input[name='productname']").val() == '') {
                                return alert('PLEASE ADD MEDICINE FIRST');
                            }

                            if ($("input[name='quantity']").val() == '') {
                                return alert('PLEASE ADD QUANTITY FIRST');
                            }

                            if ($("select[name='unitoption']").find('option:selected').text() == "Select Unit") {
                                return alert('PLEASE ADD UNIT FIRST');
                            }

                            var product = $("input[name='productname']").val();
                            var brand = $("input[name='brand']").val();
                            var qty = $("input[name='quantity']").val();
                            var selectedUnit = $("select[name='unitoption']").val();
                            var ptr = $("input[name='ptr']").val();
                            var amt = $("input[name='amount']").val();
                            var mrp = $("input[name='mrp']").val();


                            cartarray.push({
                                productId: productId,
                                productname: product,
                                brand: brand,
                                selectedUnit: selectedUnit,
                                qty: qty,
                                ptr: ptr,
                                amt: amt,
                                mrp: mrp,
                                timestamp: new Date().getTime()
                            })

                            setLocalData = JSON.stringify(cartarray);

                            localStorage.setItem("pocartitems", setLocalData);

                            //also add the vendor data to local storage
                            /*var storeCustomerData = {
                                name: $("#customername").val(),
                                phone: $("#phonenumber").val()
                            };
        
                        localStorage.setItem("custdata", JSON.stringify(storeCustomerData));
            */
                            $("input[name='productname']").val("");
                            $("input[name='brand']").val("");
                            $("input[name='quantity']").val("");
                            $("select[name='unitoption']").prop('selectedIndex', 0);
                            $("input[name='ptr']").val("");
                            $("input[name='amount']").val("");
                            $("input[name='mrp']").val("");
                        })



                        // logic for redering cart data on addtocart click 
                        var cartitems = [];
                        $("#addtocart").on('click', function () {
                            cartItems = JSON.parse(localStorage.getItem('pocartitems')) || [];
                            renderCart(cartItems);
                        });

                        //deletefunctionality
                        $("#pocart").on("click", ".delete-button", function () {
                            var item = $(this).closest("tr");
                            var item_id = item.find(".card_id").text().trim();
                            var cartItemsinStorage = JSON.parse(localStorage.getItem('pocartitems')) || [];
                            cartItemsinStorage.splice(item_id - 1, 1);
                            cartarray = cartItemsinStorage;
                            localStorage.setItem('pocartitems', JSON.stringify(cartItemsinStorage));
                            renderCart(cartItemsinStorage);
                        });
                        //endofdeletefunctionality


                        //edit functionality  
                        $("#pocart").on("click", ".edit-button", function () {
                            var item = $(this).closest("tr");
                            var item_id = item.find(".card_id").text().trim();
                            var UpdatecartItemsinStorage = JSON.parse(localStorage.getItem('pocartitems')) || [];
                            var selectedItem = UpdatecartItemsinStorage[item_id - 1];
                            productId = selectedItem.productId;
                            $("input[name='productname']").val(selectedItem.productname);
                            $("input[name='brand']").val(selectedItem.brand);
                            $("input[name='quantity']").val(selectedItem.qty);
                            $("select[name='unitoption']").prop('selectedIndex', selectedItem.selectedUnit);
                            $("input[name='ptr']").val(selectedItem.ptr);
                            $("input[name='amount']").val(selectedItem.amt);
                            $("input[name='mrp']").val(selectedItem.mrp);

                            UpdatecartItemsinStorage.splice(item_id - 1, 1);
                            cartarray = UpdatecartItemsinStorage;
                            localStorage.setItem('pocartitems', JSON.stringify(UpdatecartItemsinStorage));
                            renderCart(UpdatecartItemsinStorage);
                        })
                        //end of edit functionality

                        //rendercart functionality
                        function renderCart(items) {
                            $('#pocart').empty();

                            for (var i = 0; i < items.length; i++) {
                                var htmlData = `
                                            <tr>
                                                <td class="card_id">${i + 1}</td>
                                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                                    <strong>${items[i].productname}</strong>
                                                </td>
                                                <td>${items[i].brand}</td>
                                                <td>${items[i].qty}</td>
                                                <td>${items[i].selectedUnit}</td>
                                                <td>${items[i].ptr}</td>
                                                <td>${items[i].amt}</td>
                                                <td>${items[i].mrp}</td>
                                                <td>
                                                    <div class="action-btns">
                                                        <button type="button" class="btn p-0 mx-2 edit-button"><i
                                                                class='bx bxs-edit'></i></button>
                                                        <button type="button" class="btn p-0 mx-2 delete-button"><i
                                                                class="bx bx-trash me-1"></i></button>
                                                    </div>
                                                </td>
                                            </tr>`

                                $('#pocart').append(htmlData);
                            }
                        }
                        //end of rendereing data logic

                        //submit functionality
                        console.log($(`select[name="unitoption"] option[value=1]`).text());
                        var pharmacyDetails = JSON.parse(localStorage.getItem('name'));

                        $("#dl2_ln").on('input', function () {
                            if ($("#dl1_ln").val() == $("#dl2_ln").val()) {
                                $("#dl2_ln").val(null);
                                return alert(" DL Number 1  and DL Number 2 cannot be same");
                            }
                        });


                        $("#submitpo").click(function () {

                            if (vendorId == -1) {

                                var vendor_dl_no_1 = $("#dl1_ft").val().toString() + '-' + $("#dl1_st").val().toString() + '-' + $("#dl1_ct").val().toString() + '-' + $("#dl1_ln").val().toString();
                                var vendor_dl_no_2 = $("#dl2_ft").val().toString() + '-' + $("#dl2_st").val().toString() + '-' + $("#dl2_ct").val().toString() + '-' + $("#dl2_ln").val().toString();

                                $.ajax({
                                    url: `/api/vendor/`,
                                    type: 'POST',
                                    data: JSON.stringify({
                                        org_id: "<%= orgId %>",
                                        vendor_name: $("#vendor_name").val(),
                                        vendor_address: $("#vendor_address").val(),
                                        vendor_contact: $("#vendor_contact").val(),
                                        vendor_gstin: $("#vendor_gstin").val(),
                                        vendor_email: $("#vendor_email").val(),
                                        vendor_dl_no_1: vendor_dl_no_1,
                                        vendor_dl_no_2: vendor_dl_no_2
                                    }),
                                    contentType: 'application/json',
                                    success: function (response) {
                                        vendorId = response.results.insertId;
                                        console.log(response.results.insertId);
                                        //window.location.href = '/vendor_list'

                                        var POdetails = {
                                            pharmacyId: pharmacyDetails.pharmaId,
                                            vendor_id: vendorId,
                                            org_id: '<%=orgId%>'
                                        }

                                        $.ajax({
                                            url: '/api/createpo/',
                                            method: 'POST',
                                            data: JSON.stringify(POdetails),
                                            contentType: 'application/json',
                                            success: function (response) {
                                                var poinsertid = response.result.insertId;
                                                console.log(poinsertid);
                                                var poId = response.POId;
                                                var POcarts = JSON.parse(localStorage.getItem('pocartitems'));

                                                for (let i = 0; i < POcarts.length; i++) {
                                                    var unit = $(`select[name="unitoption"] option[value=${POcarts[i].selectedUnit}]`).text();
                                                    var POcartdetail = {
                                                        po_id_main: poId,
                                                        product_id: POcarts[i].productId,
                                                        quantity: POcarts[i].qty,
                                                        unit: unit,
                                                        ptr: POcarts[i].ptr,
                                                        amount: POcarts[i].amt,
                                                        mrp: POcarts[i].mrp
                                                    }
                                                    console.log('cartdetails', POcartdetail);

                                                    $.ajax({
                                                        url: '/api/createpocarts/',
                                                        method: 'POST',
                                                        data: JSON.stringify(POcartdetail),
                                                        contentType: 'application/json',
                                                        success: function (response) {
                                                            console.log(response);
                                                        },
                                                        error: function (error) {
                                                            console.log('Error:', error);
                                                        }
                                                    });
                                                }

                                                localStorage.removeItem('pocartitems');
                                                location.reload();
                                                window.location.href = `/po_receipt/${poinsertid}`
                                            },
                                            error: function (error) {
                                                console.log('Error:', error);
                                            }
                                        });
                                    },
                                    error: function (error) {
                                        console.log(error);
                                    }
                                })
                            }
                            else {





                                var POdetails = {
                                    pharmacyId: pharmacyDetails.pharmaId,
                                    vendor_id: vendorId,
                                    org_id: '<%=orgId%>'
                                }

                                $.ajax({
                                    url: '/api/createpo/',
                                    method: 'POST',
                                    data: JSON.stringify(POdetails),
                                    contentType: 'application/json',
                                    success: function (response) {
                                        var poinsertid = response.result.insertId;
                                        console.log(poinsertid);
                                        var poId = response.POId;
                                        var POcarts = JSON.parse(localStorage.getItem('pocartitems'));

                                        for (let i = 0; i < POcarts.length; i++) {
                                            var unit = $(`select[name="unitoption"] option[value=${POcarts[i].selectedUnit}]`).text();
                                            var POcartdetail = {
                                                po_id_main: poId,
                                                product_id: POcarts[i].productId,
                                                quantity: POcarts[i].qty,
                                                unit: unit,
                                                ptr: POcarts[i].ptr,
                                                amount: POcarts[i].amt,
                                                mrp: POcarts[i].mrp
                                            }
                                            console.log('cartdetails', POcartdetail);

                                            $.ajax({
                                                url: '/api/createpocarts/',
                                                method: 'POST',
                                                data: JSON.stringify(POcartdetail),
                                                contentType: 'application/json',
                                                success: function (response) {
                                                    console.log(response);
                                                },
                                                error: function (error) {
                                                    console.log('Error:', error);
                                                }
                                            });
                                        }

                                        localStorage.removeItem('pocartitems');
                                        location.reload();
                                        window.location.href = `/po_receipt/${poinsertid}`
                                    },
                                    error: function (error) {
                                        console.log('Error:', error);
                                    }
                                });
                            }
                        })





                        /*
                        var vendorName = [];
                        
                        $.ajax({
                            url: '/allvendors/',
                            method: 'GET',
                            success: function(response) {
                                // Parse the response data as JSON
                                //var vendors = JSON.parse(response);
                                console.log(response.data);
                                for(let i in response.data){
                                    vendorName.push({id: response.data[i].vendor_id,  name: response.data[i].vendor_name});
                                }
                                console.log(vendorName);
                                // Render the vendors data using the EJS template
                            
                                
                                $('#vendorname').append(renderedHtml);
                            },
                            error: function(error) {
                                console.log('Error:', error);
                            }
                        });
    
                    */
                    })
                </script>
    </body>

    </html>