<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        /* Default width for larger screens */
        #html-content {

            margin: 0;
            /* Center align */
        }



        .table-bordered th,
        .table-bordered td {
            padding: 3px;
            text-align: center;
            /* Center align text */
        }

        .table-bordered th {
            background-color: #f8f9fa;
            border-top: none;
        }

        .table-of-receipt th,
        .table-of-receipt td {
            padding: 0px;
            /* Adjust padding as needed */
            padding-left: 1px;
            padding-right: 1px;
            text-align: center;
            /* Center align text */
            margin: 0;
            padding-top: -5px;
            margin-top: -10px;

        }

        .cartitems tr,
        td {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .frame1 {
            width: 55rem;
            height: 39rem;
            background: #FFF;
            padding: 15px;
        }

        .receipt-container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            position: relative;
            width: 50.2365rem;
            height: 31.97663rem;
            flex-shrink: 0;
            border: 0.2px solid #1E1E1E;
        }

        .shop-name {
            position: relative;
            display: flex;
            width: 16.20863rem;
            height: 1.2455rem;
            flex-direction: column;
            flex-shrink: 0;

            color: #1E1E1E;
            font-size: 1.25rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .logo-container {
            display: flex;
            width: 7.625rem;
            height: 3.5rem;
            gap: 0.13638rem;
            flex-shrink: 0;

            color: #00ACC1;
        }

        .shop-info {
            margin-top: 0.48rem;
            width: 34.413rem;
            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
        }

        .shop-info-child1 {
            display: flex;
            width: 12.21775rem;
            height: 2.80238rem;
            flex-direction: column;
            flex-shrink: 0;
        }

        .shop-info-child2 {
            width: 13.933rem;
            height: 2.86188rem;
            flex-shrink: 0;
        }

        .customer-details {
            width: 11.61225rem;
            height: 3.89913rem;
            flex-shrink: 0;

            color: #1E1E1E;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

        }

        .customer-details p {
            display: flex;
            width: 11.61225rem;
            height: 0.78725rem;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 0.1rem;
            margin-bottom: 0;
        }

        .receipt-type {
            display: flex;
            width: 8.40925rem;
            height: 1.2455rem;
            flex-direction: column;
            flex-shrink: 0;

            color: #1E1E1E;
            font-size: 1.25rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .receipt-details {
            width: 11.61225rem;
            height: 2.77413rem;
            flex-shrink: 0;

            color: #1E1E1E;
            font-size: 0.75rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .receipt-details p {
            display: flex;
            width: 11.61225rem;
            height: 0.78725rem;
            flex-direction: column;
            flex-shrink: 0;

            margin-bottom: 0;
        }

        .cart-table {
            position: relative;
            width: 50.2365rem;
            height: 10.56863rem;
            border: 0.05rem solid #1E1E1E;
            left: -1rem;
            margin-top: 0.75rem;
        }

        .cart-table thead th {
            color: #000;
            font-size: 0.75rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: auto;

            border: 0.05rem solid #1E1E1E;

        }

        .cart-table tbody td {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-top: none !important;
            height: 0;
            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 0.875rem;
            text-transform: uppercase;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        .footer-gst-distribution {
            position: relative;
            left: -1rem;
            width: 19.03875rem;
            height: 10rem;

            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 0.875rem;
            text-transform: uppercase;
        }

        .footer-gst-distribution thead th {
            color: #000;
            line-height: normal;
            margin: auto;
            border: 0.05rem solid #1E1E1E;
        }

        .footer-gst-distribution tbody td {
            border: 1px solid #000;
            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 0.875rem;
            text-transform: uppercase;
            padding-right: 0rem;
        }


        .footer-1 {
            position: relative;
            left: -1rem;
            top: -0.05rem;
            width: 20.2rem;
            height: 10.10rem;
            border: 0.05rem solid #1E1E1E;

            color: #000;
            font-size: 0.75rem;
            font-family: Poppins;
            font-style: normal;
        }

        .receipt-msg {
            border-bottom: 0.05rem solid #1E1E1E;
            height: 1.76rem;
            font-weight: 300;
            line-height: normal;
        }

        .receipt-tnc .header {
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
            margin-left: 0.34rem;
            margin-top: 0.47rem;

            height: 5.95rem;
        }

        .receipt-tnc {
            font-weight: 300;
            line-height: normal;
            margin-left: 0.34rem;
            margin-top: 0.47rem;

            height: 5.95rem;
        }


        .receipt-sign {
            border-top: 0.05rem solid #1E1E1E;
            width: 9.03875rem;
            font-weight: 600;
            line-height: normal;
            text-align: center;

            margin-left: auto;
            margin-bottom: 1rem;
        }

        .footer-2 {
            width: 13.25rem;
            height: 10.15rem;

            color: #000;
            font-size: 0.75rem;
            font-family: Poppins;
            font-style: normal;
        }

        .cart-summary {
            height: 7.32rem;
            border-bottom: 0.05rem solid #1E1E1E;
        }

        .cart-summary .label {
            font-weight: 600;
        }

        .cart-total {
            font-size: 1rem;
            font-weight: 600;
        }

        .watermark-receipt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgba(255, 0, 0, 0.3);
            font-size: 5rem;
            z-index: 2;
            pointer-events: none;
        }
    </style>
</head>

<body class="d-flex justify-content-center">
    <div class="frame1" id="html-content">
        <div class="receipt-container">
            <div class="watermark-receipt"
                style="display:<%= data.salesDetails.status === 'cancelled' ? 'block' : 'none' %>">CANCELLED</div>
            <div class="d-flex justify-content-between">
                <div>
                    <div class="shop-name pharmacyName">
                        <%= data.orgDetails.org_name %>
                    </div>
                    <div class="shop-info d-flex justify-content-between">
                        <div class="shop-info-child1 shopaddress">
                            <%= data.orgDetails.org_address %><br>
                                <%= data.orgDetails.org_city %> (<%= data.orgDetails.org_state %>), <%=
                                            data.orgDetails.org_pincode %><br>
                                            <%= data.orgDetails.org_telephone %>
                        </div>
                        <div class="shop-info-child2">
                            <p class="my-0 dlno1">DL No 1: <%= data.orgDetails.org_dl_no_1 || 'NA' %>
                            </p>
                            <p class="my-0 dlno2">DL No 2: <%= data.orgDetails.org_dl_no_2 || 'NA' %>
                            </p>
                            <p class="my-0 flno">FSSAI : <%= data.orgDetails.org_fssai_no || 'NA' %>
                            </p>
                            <p class="my-0 gstin">GSTIN : <%= data.orgDetails.org_gstin || 'NA' %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="logo-container">
                    <img src="data:image/svg+xml;base64,<%= image %>" alt="Logo">
                </div>
            </div>
            <hr class="px-0">
            <div class="d-flex justify-content-between">
                <div class="customer-details">
                    <p class="customername" style="font-weight: 600;">
                        Patient name: <%= data.customerDetails.cust_name || 'NA' %>
                    </p>
                    <p class="mobilenumber">
                        Mobile: <%= data.customerDetails.cust_telephone || 'NA' %>
                    </p>
                    <p class="shippingadd">
                        Shipping Address: <%= data.customerDetails.cust_address || 'NA' %>
                    </p>
                    <p class="doctorname">
                        Dr name: <%= data.salesDetails.doctor_name || 'NA' %>
                    </p>
                </div>
                <div class="receipt-type">
                    Sales Invoice
                </div>
                <div class="receipt-details">
                    <p class="orderdate">
                        Date: <%= new Date(data.salesDetails.sales_created_date).toLocaleDateString('en-US', {
                            year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                    </p>
                    <p class="invoicenumber">
                        Invoice no.: <%= data.salesDetails.invoice_id_main %>
                    </p>
                </div>
            </div>
            <table class="cart-table table-of-receipt">
                <thead>
                    <tr>
                        <th style="width: 11.29rem;">Item</th>
                        <th style="width: 3.1rem;">Quantity</th>
                        <th style="width: 4.59rem;">HSN</th>
                        <th style="width: 4.4rem;">Batch</th>
                        <th style="width: 3.25rem;">Expiry</th>
                        <th style="width: 3.62rem;">MRP(₹)</th>
                        <th style="width: 3.61rem;">GST%</th>
                        <th style="width: 3.91rem;">Discount%</th>
                        <th style="width: 4.2rem;">Total(₹)</th>
                    </tr>
                </thead>
                <tbody class="cartitems py-0 my-0">
                    <% data.salesCartItems.forEach(item=> { %>
                        <tr style="padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                            <td
                                style="width: 11.29rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= item.product_name %>
                            </td>
                            <td
                                style="width: 3.1rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= item.saled_pri_qty_cart %>:<%= item.saled_sec_qty_cart %>
                            </td>
                            <td
                                style="width: 4.59rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= item.hsn %>
                            </td>
                            <td
                                style="width: 4.4rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= item.batch_name %>
                            </td>
                            <td
                                style="width: 3.25rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= new Date(item.exp_date).toLocaleDateString('en-US', { month: '2-digit' ,
                                    year: 'numeric' }) %>
                            </td>
                            <td
                                style="width: 3.62rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= item.unit_mrp %>
                            </td>
                            <td
                                style="width: 3.61rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= item.gst %>
                            </td>
                            <td
                                style="width: 3.91rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= item.unit_discount %>
                            </td>
                            <td
                                style="width: 4.2rem; height: 0rem; padding-top: 0px; padding-bottom: 0px; margin-top:0px; margin-bottom:0px">
                                <%= parseFloat(item.saled_mrp).toFixed(2) %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <div class="d-flex flex-row">
                <table class="footer-gst-distribution text-center">
                    <thead>
                        <tr>
                            <th>GST%</th>
                            <th>Taxable Amt</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>Total GST</th>
                        </tr>
                    </thead>
                    <tbody class="p-0 px-1">
                        <% [0, 5, 12, 18].forEach(gstRate=> { %>
                            <tr>
                                <td>
                                    <%= gstRate %>%
                                </td>
                                <td class="taxAmt<%= gstRate %>">
                                    <%= parseFloat(data.gstBreakup[gstRate].taxAmt).toFixed(2) %>
                                </td>
                                <td class="cgst-<%= gstRate %>">
                                    <%= parseFloat(data.gstBreakup[gstRate].cgst).toFixed(2) %>
                                </td>
                                <td class="sgst-<%= gstRate %>">
                                    <%= parseFloat(data.gstBreakup[gstRate].sgst).toFixed(2) %>
                                </td>
                                <td class="totalGst<%= gstRate %>">
                                    <%= parseFloat(data.gstBreakup[gstRate].totalGst).toFixed(2) %>
                                </td>
                            </tr>
                            <% }); %>
                                <tr>
                                    <td>Total</td>
                                    <td class="taxAmtTotal">
                                        <%= parseFloat(data.gstBreakup.total.taxAmt).toFixed(2) %>
                                    </td>
                                    <td class="cgstTotal">
                                        <%= parseFloat(data.gstBreakup.total.cgst).toFixed(2) %>
                                    </td>
                                    <td class="sgstTotal">
                                        <%= parseFloat(data.gstBreakup.total.sgst).toFixed(2) %>
                                    </td>
                                    <td class="totalGst">
                                        <%= parseFloat(data.gstBreakup.total.totalGst).toFixed(2) %>
                                    </td>
                                </tr>
                    </tbody>
                </table>

                <div class="footer-1">
                    <div class="receipt-msg">
                        <p class="justify-content-center mx-auto">
                            “GET WELL SOON BY DAWA.AI”
                        </p>
                    </div>
                    <div class="receipt-info">
                        <div class="receipt-tnc">
                            <div>
                                <div>Terms & Conditions</div>
                                <p>Confirm Medicines from your Doctor before use</p>
                            </div>
                        </div>
                        <div class="receipt-sign">
                            Authorised Signature
                        </div>
                    </div>
                </div>
                <div class="footer-2">
                    <div class="cart-summary">
                        <div class="d-flex justify-content-between">
                            <div class="label">Sub Total (₹):</div>
                            <div class="subtotal">
                                <%= parseFloat(data.salesDetails.subtotal).toFixed(2) %>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="label">Add Discount (₹):</div>
                            <div class="additionaldisc">
                                <%= parseFloat(data.salesDetails.total_dist).toFixed(2) %>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <div class="label">Payment:</div>
                            <div class="mop">
                                <%= data.salesDetails.mop || 'NA' %>
                            </div>
                        </div>
                    </div>
                    <div class="cart-total">
                        <div class="d-flex justify-content-between my-2">
                            <div>Amount(₹):</div>
                            <div class="grandtotal">
                                <%= parseFloat(data.salesDetails.grand_total).toFixed(0) %>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>