<%- include('../partials/headercode.ejs') %>

    <head>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <style>
            .frame1 {
                width: 46.875rem;
                height: 39rem;
                background: #FFF;
                padding: 15px;
            }

            .receipt-container {
                background-image: url("/images/receipt-bg3.png");
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
                position: relative;
                width: 44.2365rem;
                height: 35.97663rem;
                flex-shrink: 0;
                border: 0.2px solid #1E1E1E;
            }

            .shop-name {
                position: relative;
                display: flex;
                width: 16.20863rem;
                height: 1.2455rem;
                flex-direction: column;
                flex-shrink: 0;

                color: #1E1E1E;
                font-size: 1.25rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .logo-container {
                display: flex;
                width: 7.625rem;
                height: 3.5rem;
                gap: 0.13638rem;
                flex-shrink: 0;

                color: #00ACC1;
            }

            .shop-info {
                margin-top: 0.48rem;
                width: 34.413rem;
                color: #000;
                font-size: 0.625rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                line-height: 1rem;
            }

            .shop-info-child1 {
                display: flex;
                width: 12.21775rem;
                height: 2.80238rem;
                flex-direction: column;
                flex-shrink: 0;
            }

            .shop-info-child2 {
                width: 13.933rem;
                height: 2.86188rem;
                flex-shrink: 0;
            }

            .customer-details {
                width: 11.61225rem;
                height: 3.89913rem;
                flex-shrink: 0;

                color: #1E1E1E;
                font-size: 0.625rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

            }

            .customer-details p {
                display: flex;
                width: 11.61225rem;
                height: 0.78725rem;
                flex-direction: column;
                flex-shrink: 0;
                margin-top: 0.1rem;
                margin-bottom: 0;
            }

            .receipt-type {
                display: flex;
                width: 8.40925rem;
                height: 1.2455rem;
                flex-direction: column;
                flex-shrink: 0;

                color: #1E1E1E;
                font-size: 1.25rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .receipt-details {
                width: 11.61225rem;
                height: 2.77413rem;
                flex-shrink: 0;

                color: #1E1E1E;
                font-size: 0.75rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .receipt-details p {
                display: flex;
                width: 11.61225rem;
                height: 0.78725rem;
                flex-direction: column;
                flex-shrink: 0;
                margin-top: 0.2rem;
                margin-bottom: 0;
            }

            .cart-table {
                position: relative;
                width: 44.23000rem;
                height: 14.56863rem;
                border: 0.05rem solid #1E1E1E;
                left: -1rem;
                margin-top: 0.75rem;
            }

            .cart-table thead th {
                color: #000;
                font-size: 0.75rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin: auto;

                border: 0.05rem solid #1E1E1E;
            }

            .cart-table tbody td {
                border-left: 1px solid #000;
                border-right: 1px solid #000;
                border-top: none !important;

                color: #000;
                font-size: 0.625rem;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                line-height: 0.875rem;
                text-transform: uppercase;
            }

            .footer-1 {
                position: relative;
                left: -1rem;
                top: -0.05rem;
                width: 28.9rem;
                height: 10.10rem;
                border: 0.05rem solid #1E1E1E;

                color: #000;
                font-size: 0.75rem;
                font-family: Poppins;
                font-style: normal;
            }

            .receipt-msg {
                border-bottom: 0.05rem solid #1E1E1E;
                height: 1.76rem;
                font-weight: 300;
                line-height: normal;
            }

            .receipt-tnc .header {
                font-weight: 600;
                line-height: normal;
                text-decoration-line: underline;
                margin-left: 0.34rem;
                margin-top: 0.47rem;

                height: 5.95rem;
            }

            .receipt-tnc {
                font-weight: 600;
                line-height: normal;
                margin-left: 0.34rem;
                margin-top: 0.47rem;

                height: 5.95rem;
            }


            .receipt-sign {
                border-top: 0.05rem solid #1E1E1E;
                width: 9.03875rem;
                font-weight: 600;
                line-height: normal;
                text-align: center;

                margin-left: auto;
                margin-bottom: 1rem;
            }

            .footer-2 {
                width: 13.25rem;
                height: 10.15rem;

                color: #000;
                font-size: 0.75rem;
                font-family: Poppins;
                font-style: normal;
            }

            .cart-summary {
                height: 7.32rem;
                border-bottom: 0.05rem solid #1E1E1E;
            }

            .cart-summary .label {
                font-weight: 600;
            }

            .cart-total {
                font-size: 1rem;
                font-weight: 600;
            }
        </style>
    </head>

    <body>
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
                <!-- sidebar imported -->
                <%- include('../partials/sidebar.ejs') %>

                    <!-- Layout container -->
                    <div class="layout-page">
                        <!-- navbar imported -->
                        <%- include('../partials/navbar.ejs') %>

                            <!-- Content wrapper -->
                            <div class="content-wrapper">
                                <!-- Content -->

                                <div class="container-xxl flex-grow-1 container-p-y">
                                    <div class="row invoice-preview">
                                        <!-- Invoice -->

                                        <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
                                            <div class="frame1 " id="html-content">
                                                <div class="receipt-container">
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <div class="shop-name" id="pharmacyName"></div>
                                                            <div class="shop-info d-flex justify-content-between">
                                                                <div class="shop-info-child1" id="shopaddress"></div>
                                                                <div class="shop-info-child2">
                                                                    <p class="my-0" id="gstin">GSTIN:</p>
                                                                    <p class="my-0" id="dlno">D.L.no.:</p>
                                                                    <p class="my-0" id="flno">F.L. no.:</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="logo-container">
                                                            <img src="/images/logo.svg"></img>
                                                        </div>
                                                    </div>
                                                    <hr class="px-0">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="customer-details">
                                                            <p style="font-weight: 600;" id="customername">
                                                                Patient name:
                                                            </p>
                                                            <p id="mobilenumber">
                                                                Mobile:
                                                            </p>
                                                            <p id="shippingadd">
                                                                Shipping Address:
                                                            </p>
                                                            <p id="doctorname">
                                                                Dr name:
                                                            </p>

                                                        </div>
                                                        <div class="receipt-type">
                                                            Sales Invoice
                                                        </div>
                                                        <div class="receipt-details">
                                                            <p id="orderdate">
                                                                Date:
                                                            </p>
                                                            <p id="invoicenumber">
                                                                Invoice no.:
                                                            </p>
                                                        </div>

                                                    </div>
                                                    <table class="cart-table">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 2.27rem;">S.N.</th>
                                                                <th style="width: 11.29rem;">Item</th>
                                                                <th style="width: 3.1rem;">QTY</th>
                                                                <th style="width: 4.59rem;">HSN</th>
                                                                <th style="width: 4.4rem;">Batch</th>
                                                                <th style="width: 3.25rem;">Exp.</th>
                                                                <th style="width: 3.62rem;">MRP(₹)</th>
                                                                <th style="width: 3.61rem;">GST%</th>
                                                                <th style="width: 3.91rem;">Discount%</th>
                                                                <th style="width: 4.2rem;">Total(₹)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="cartitems">



                                                        </tbody>
                                                    </table>
                                                    <div class="d-flex flex-row">
                                                        <div class="footer-1">
                                                            <div class="receipt-msg">
                                                                <p>
                                                                    “GET WELL SOON BY DAWA.AI”
                                                                </p>
                                                            </div>
                                                            <div class="receipt-info">
                                                                <div class="receipt-tnc">
                                                                    <div class="header">Terms & Conditions
                                                                        <div>
                                                                            <p>Confirm Medicines from your Doctor before
                                                                                use
                                                                            </p>
                                                                            <p>I/We declare that this invoice shows
                                                                                actual
                                                                                price of goods and services and that all
                                                                                particulars are true and correct.</p>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <div class="receipt-sign">
                                                                    Authorised Signature
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="footer-2">
                                                            <div class="cart-summary">
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="label">
                                                                        Subtotal(₹):
                                                                    </div>
                                                                    <div id="subtotal">

                                                                    </div>
                                                                </div>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="label">
                                                                        Additonal Discount(₹):
                                                                    </div>
                                                                    <div id="additionaldisc">

                                                                    </div>
                                                                </div>

                                                                <div class="d-flex justify-content-between my-2">
                                                                    <div class="label">
                                                                        Payment:
                                                                    </div>
                                                                    <div id="mop">
                                                                        CASH
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="cart-total">
                                                                <div class="d-flex justify-content-between my-2">
                                                                    <div>
                                                                        Amount(₹):
                                                                    </div>
                                                                    <div id="grandtotal">

                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>


                                        <!-- /Invoice -->

                                        <!-- Invoice Actions -->
                                        <div class="col-xl-3 col-md-4 col-12 invoice-actions">
                                            <div class="card">
                                                <div class="card-body">
                                                  <!-- <button class="btn btn-primary d-grid w-100 mb-3" data-bs-toggle="offcanvas" data-bs-target="#sendInvoiceOffcanvas">
                                                    <span class="d-flex align-items-center justify-content-center text-nowrap"><i class="bx bx-paper-plane bx-xs me-1"></i>Send Invoice</span>
                                                  </button> -->
                                                  <button class="btn btn-primary btn-label-secondary d-grid w-100 mb-3" type="button" onclick="CreatePDFfromHTML()">
                                                    Download
                                                  </button>
                                                  <button class="btn btn-success d-grid w-100 mb-3" type="button" id="whatsappLink">
                                                    WhatsApp
                                                  </button>
                                                  <button class="btn btn-label-secondary d-grid w-100" type="button" onclick="history.back()">
                                                    Back
                                                  </button>
                                                </div>
                                              </div>
                                        </div>
                                        <!-- /Invoice Actions -->
                                    </div>

                                </div>
                                <!-- / Content -->
                            </div>
                    </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>    

            <script>

                $(document).ready(function () {

                    var id = '<%=id%>';
                    let customerName;
                    let customerNumber;
                    let customerAdd;

                    var todayDate = new Date();
                    var options = { year: 'numeric', month: 'long', day: 'numeric' };
                    var formattedDate = todayDate.toLocaleDateString('en-US', options);
                    $("#orderdate").text(`Date: ${formattedDate}`);

                    $.get(`/api/invoice?invoiceid=${id}&org=<%= orgId %>`, function (data, status) {
                        var customer = data.result[0];
                        console.log('inside the invoice template', customer);
                        $("#mop").text(customer.mop.toUpperCase());

                        customerName = customer.cust_name;
                        customerNumber = customer.cust_telephone;
                        customerAdd = customer.cust_address;

                        $("#customername").text(`Patient Name: ${customerName}`);
                        $("#mobilenumber").text(`Mobile: ${customerNumber}`);

                        $("#shippingadd").text(`Shipping Address: ${customerAdd}`);
                        $("#shippedcustomerdetails .shippedcustomernumber").html(`${customerNumber} <br> `);
                        $("#invoicenumber").text(`Invoice no: ${customer.invoice_id_main}`);
                        $("#subtotal").text(customer.subtotal);
                        $("#additionaldisc").text(customer.total_dist);
                        $("#grandtotal").text(customer.grand_total);
                        $("#doctorname").text(`Dr name: ${customer.doctor_name}`);
                    })

                    $.get(`/api/org/<%=orgId%>`, function (data, status) {
                        console.log(data);

                        $("#pharmacyName").text(data.data.org_name);
                        $("#contact").text(data.data.org_telephone);

                        $("#shopaddress").html(`
                        ${data.data.org_address}</br>
                        ${data.data.org_city}( ${data.data.org_state} ), ${data.data.org_pincode}</br>
                        ${data.data.org_telephone}
                    `)

                        $("#gstin").text(`GSTIN: ${data.data.org_gstin}`);
                        $("#dlno").text(`D.L.no.: ${data.data.org_dl_no_1}, ${data.data.org_dl_no_2}`)
                        $("#flno").text(`F.L. no.: ${data.data.org_fssai_no}`)

                    })

                    var product = [];
                    $.get(`/api/getcartitemsininvoice/${id}`, function (data, status) {

                        var items = data.data;
                        console.log("items in data", items);

                        for (var i = 0; i < items.length; i++) {
                            var datetime = items[i].exp_date;
                            console.log(datetime);
                            var date = moment(datetime).format('DD-MM-YY');

                            cartHtml =
                                `<tr>
                            <td style="width: 2.27rem; height: 1rem;">${i + 1}</td>
                            <td style="width: 11.29rem; height: 1rem;">${items[i].med_name}</td>
                            <td style="width: 3.1rem; height: 1rem;">${items[i].saled_pri_qty_cart}:${items[i].saled_sec_qty_cart}</td>
                            <td style="width: 4.59rem; height: 1rem;">${items[i].hsn}</td>
                            <td style="width: 4.4rem; height: 1rem;">${items[i].batch_name}</td>
                            <td style="width: 3.25rem; height: 1rem;">${date}</td>
                            <td style="width: 3.62rem; height: 1rem;">${items[i].unit_mrp}</td>
                            <td style="width: 3.61rem; height: 1rem;">${items[i].gst}</td>
                            <td style="width: 3.91rem; height: 1rem;">${items[i].unit_discount}</td>
                            <td style="width: 4.2rem; height: 1rem;">${items[i].saled_mrp}</td>
                        </tr>`
                            $("#cartitems").append(cartHtml);

                        }
                    })

                    // Whatsapp Chat with customer
                    $("#whatsappLink").click(function () {
                        window.open(`https://wa.me/91${customerNumber}`, '_blank');
                    })

                    // Send Invoice functionality
                    $('#sendInvoice').click(function () {
                        $.ajax({
                            url: `/api/whatsapp/pharmacy?invoiceid=${id}&org=<%= orgId %>`,
                            type: 'POST',
                            contentType: 'application/json',
                            success: function (response) {
                                console.log('Invoice sent', response)
                            },
                            error: function (error) {
                                console.log('error in sending invoice', error);
                            }
                        })
                    })

                    $('#sendInvoiceToCustomer').on('click', function () {

                        // Get the element you want to convert to PDF
                        var element = document.getElementById('html-content');

                        // Use html2pdf to convert it
                        html2pdf().from(element).outputPdf('blob').then(function (pdfData) {

                            // Convert the Uint8Array to a Blob
                            var pdfBlob = new Blob([pdfData], { type: 'application/pdf' });

                            var formData = new FormData();
                            formData.append('file', pdfBlob);

                            console.log(formData);

                            $.ajax({
                                url: `/api/whatsapp/customer?invoiceid=${id}&org=<%= orgId %>`,
                                type: 'POST',
                                data: formData,
                                contentType: false,
                                processData: false,
                                success: function (response) {
                                    console.log(response);
                                },
                                error: function (error) {
                                    console.error(error);
                                }
                            });

                        });
                    });



                    //Create PDf from HTML...
                    // $("#download").click(function () {
                    //     CreatePDFfromHTML();
                    // });

                    // function CreatePDFfromHTML() {
                    //     var HTML_Width = $("#html-content").width();
                    //     var HTML_Height = $("#html-content").height();
                    //     var top_left_margin = 30;
                    //     var PDF_Width = HTML_Width + (top_left_margin * 2);
                    //     var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
                    //     var canvas_image_width = HTML_Width;
                    //     var canvas_image_height = HTML_Height;

                    //     var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

                    //     html2canvas($("#html-content")[0]).then(function (canvas) {
                    //         var imgData = canvas.toDataURL("image/jpeg", 1.0);
                    //         var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                    //         pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                    //         for (var i = 1; i <= totalPDFPages; i++) {
                    //             pdf.addPage(PDF_Width, PDF_Height);
                    //             pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                    //         }
                    //         pdf.save("HTML-Document.pdf");

                    //         // Convert the Uint8Array to a Blob
                    //         var pdfBlob = new Blob([pdf], { type: 'application/pdf' });

                    //         var formData = new FormData();
                    //         formData.append('file', pdfBlob);

                    //         console.log(pdf);
                    //         console.log(pdfBlob);
                    //         console.log(formData);

                    //         $.ajax({
                    //             url: `/api/whatsapp/customer?invoiceid=${id}&org=<%= orgId %>`,
                    //             type: 'POST',
                    //             data: formData,
                    //             contentType: false,
                    //             processData: false,
                    //             success: function (response) {
                    //                 console.log(response);
                    //             },
                    //             error: function (error) {
                    //                 console.error(error);
                    //             }
                    //         });
                    //     });
                    // }
                })

                // Function to create PDF using html2pdf
                function createPDF() {
                    // Get the HTML element you want to convert
                    var element = document.getElementById('html-content');

                    // Use html2pdf to generate the PDF
                    return html2pdf(element)
                        .from(element)
                        .outputPdf();
                }

            </script>
            <script>
                function CreatePDFfromHTML() {
                    var HTML_Width = $("#html-content").width();
                    var HTML_Height = $("#html-content").height();
                    var top_left_margin = 30;
                    var PDF_Width = HTML_Width + (top_left_margin * 2);
                    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
                    var canvas_image_width = HTML_Width;
                    var canvas_image_height = HTML_Height;

                    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

                    html2canvas($("#html-content")[0]).then(function (canvas) {
                        var imgData = canvas.toDataURL("image/jpeg", 1.0);
                        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                        for (var i = 1; i <= totalPDFPages; i++) {
                            pdf.addPage(PDF_Width, PDF_Height);
                            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                        }
                        pdf.save("Invoice.pdf");
                    });
                }
            </script>

    </body>

    </html>