<%- include('../partials/headercode.ejs') %>


    <body>
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar  ">
            <div class="layout-container">

                <!-- sidebar imported -->
                <%- include('../partials/sidebar.ejs') %>

                    <!-- Layout container -->
                    <div class="layout-page">

                        <!-- navbar imported -->
                        <%- include('../partials/navbar.ejs') %>
                            <div class="content-wrapper">

                                <!-- Content -->

                                <di class="container-xxl flex-grow-1 container-p-y">
                                    <h4 class="fw-bold py-3 mb-1">Goods Received Note</h4>
                                    <hr class="mb-4">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Distributor Name</h5>
                                                <div class="card-body" id="vendorname">
                                                    <select class="form-select" id="vendorselect"
                                                        aria-label="Default select example">
                                                        <option selected>Select Distributor</option>
                                                        <%vendors.forEach(function(vendor) {%>
                                                            <option value="<%= vendor.vendor_id %>">
                                                                <%= vendor.vendor_name %>
                                                            </option>
                                                            <%});%>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card mb-4 py-1">

                                                <h6 class="card-header py-1" id="contact"></h6>
                                                <h6 class="card-header py-1" id="email"></h6>
                                                <h6 class="card-header py-1" id="dl_no"></h6>
                                                <h6 class="card-header py-1" id="gstin"></h6>
                                                <h6 class="card-header py-1" id="address"></h6>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Distributor Invoice Number</h5>
                                                <div class="card-body">
                                                    <input type="text" class="form-control" id="vendorinvoicenumber"
                                                        placeholder="Enter Invoice Number" />
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card mb-4">
                                                <h5 class="card-header">Lorry Number</h5>
                                                <div class="card-body">
                                                    <input type="text" class="form-control" id="lorrynumber"
                                                        placeholder="Enter Lorry Number" />
                                                </div>

                                            </div>
                                        </div>




                                        <div class="d-flex justify-content-between m-0 p-0">
                                            <h4 class="fw-bold py-3 mb-1"> Add Product To Your Cart</h4>

                                        </div>
                                        <hr class="mb-4">
                                        <div class="card mb-4 mx-2 col-sm-12">

                                            <div class="card-body ">

                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-fullname">Product Name</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-fullname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" id="medicinename"
                                                                placeholder="Type some letters of the medicine name"
                                                                aria-label="John Doe"
                                                                aria-describedby="basic-icon-default-fullname2"
                                                                name="productname">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-fullname">Mfg/Mkt</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-fullname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" id="brand"
                                                                placeholder="" aria-label="John Doe"
                                                                aria-describedby="basic-icon-default-fullname2"
                                                                name="brand">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-fullname">Salt Comp.</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-fullname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" id="salt"
                                                                placeholder="" aria-label="John Doe"
                                                                aria-describedby="basic-icon-default-fullname2"
                                                                name="salt">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">

                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-companyname">GST (%)</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <select class="form-select" name="gst" id="gst">
                                                                <option selected>Select option</option>
                                                                <option value="0">0%</option>
                                                                <option value="5">5%</option>
                                                                <option value="12">12%</option>
                                                                <option value="18">18%</option>
                                                                <option value="28">28%</option>
                                                            </select>
                                                        </div>
                                                    </div>



                                                    <label class="col-sm-2 col-form-label ps-4"
                                                        for="basic-icon-default-companyname">HSN Code</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-companyname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" id="hsn"
                                                                placeholder="" aria-label="John Doe"
                                                                aria-describedby="basic-icon-default-companyname2"
                                                                name="hsn">
                                                        </div>
                                                    </div>


                                                </div>


                                                <div class="row mb-2">
                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-address">Unit</label>
                                                    <div class="col-sm-4 me-0">
                                                        <div class="input-group input-group-merge">
                                                            <select class="form-select" id="exampleFormControlSelect1"
                                                                name="primary" aria-label="Default select example">
                                                                <option selected>Primary</option>
                                                                <option value="STP">Strip</option>
                                                                <option value="AMP">AMP (Ampoules)</option>
                                                                <option value="BOX">Box</option>
                                                                <option value="BTL">BTL (Bottle)</option>
                                                                <option value="CAPS">CAP (Capsule)</option>
                                                                <option value="PCS">PCS (Piece)</option>
                                                                <option value="TUBE">TUBE</option>
                                                                <option value="DROP">DROP</option>
                                                                <option value="DRSP">DRSP (Dry Syrup)</option>
                                                                <option value="E/D">E/D (Eye Drop)</option>
                                                                <option value="EAR/D">EAR/D (Ear Drop)</option>
                                                                <option value="INJ">INJ (Injection)</option>
                                                                <option value="INH">INH (Inhaler)</option>
                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-1 text-center mx-0 p-0">
                                                        <p class="fs-4">-</p>
                                                    </div>

                                                    <div class="col-sm-4 ms-0">
                                                        <div class="input-group input-group-merge">
                                                            <select class="form-select" id="exampleFormControlSelect1"
                                                                name="secondary" aria-label="Default select example">
                                                                <option selected>Secondary</option>
                                                                <option value="TAB">TAB (Tablet)</option>
                                                                <option value="STP">Strip</option>
                                                                <option value="AMP">AMP (Ampoules)</option>
                                                                <option value="BOX">Box</option>
                                                                <option value="BTL">BTL (Bottle)</option>
                                                                <option value="CAPS">CAP (Capsule)</option>
                                                                <option value="PCS">PCS (Piece)</option>
                                                                <option value="TUBE">TUBE</option>
                                                                <option value="DROP">DROP</option>
                                                                <option value="DRSP">DRSP (Dry Syrup)</option>
                                                                <option value="E/D">E/D (Eye Drop)</option>
                                                                <option value="EAR/D">EAR/D (Ear Drop)</option>
                                                                <option value="INJ">INJ (Injection)</option>
                                                                <option value="INH">INH (Inhaler)</option>

                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row mb-3">

                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-companyname">Reorder Level</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-companyname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control"
                                                                id="basic-icon-default-companyname" placeholder=""
                                                                aria-label="John Doe"
                                                                aria-describedby="basic-icon-default-companyname2"
                                                                name="threshold">
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="card mb-4 mx-2 col-sm-12">

                                            <div class="card-body ">
                                                <h4 class="fs-5">Batch Details</h4>
                                                <hr>

                                                <div class="row mb-3">

                                                    <label class="col-sm-2 col-form-label "
                                                        for="basic-icon-default-companyname">Batch No.</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-companyname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" placeholder=""
                                                                aria-label="" id="batchname" />
                                                        </div>
                                                    </div>

                                                    <label class="col-sm-2 col-form-label ps-4"
                                                        for="basic-icon-default-address">Exp Date</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <input class="form-control" type="date"
                                                                id="html5-date-input" name="addexp" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-companyname">Conversion</label>

                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span class="input-group-text" id="primarypopulate"></span>
                                                            <span class="input-group-text">=</span>
                                                            <input type="number" class="form-control" placeholder=""
                                                                aria-label="" id="conversion" />
                                                            <span class="input-group-text"
                                                                id="secondarypopulate"></span>
                                                        </div>
                                                    </div>

                                                    <label class="col-sm-2 col-form-label  ps-4"
                                                        for="basic-icon-default-email">QTY</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span class="input-group-text"></span>
                                                            <input type="text" id="basic-icon-default-email"
                                                                class="form-control" placeholder="" id="addquantity"
                                                                name="quantity">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-3  ">

                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-companyname">MRP</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-companyname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" name="addmrp"
                                                                id="price">
                                                        </div>
                                                    </div>

                                                    <label class="col-sm-2 col-form-label ps-4"
                                                        for="basic-icon-default-companyname">PTR</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-companyname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" id="addpur">
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row mb-3">
                                                    <label class="col-sm-2 col-form-label"
                                                        for="basic-icon-default-companyname">Shelf Label</label>
                                                    <div class="col-sm-4">
                                                        <div class="input-group input-group-merge">
                                                            <span id="basic-icon-default-companyname2"
                                                                class="input-group-text"></span>
                                                            <input type="text" class="form-control" name="addshelf"
                                                                id="shelflabel">
                                                            <span class="input-group-text" id="getshelfnumber"></span>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-sm-12 text-center">
                                                    <button type="submit" class="btn btn-primary" id="addtocart">Add to
                                                        Cart</button>
                                                </div>


                                            </div>

                                        </div>

                                    </div>

                                    <hr class="mb-4">

                                    <div class="card">
                                        <h5 class="card-header">Cart</h5>
                                        <div class="card-body">
                                            <div class="table-responsive text-nowrap">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Product name</th>
                                                            <th>Brand name</th>
                                                            <th>MRP</th>
                                                            <th>PTR</th>
                                                            <th>QTY</th>
                                                            <th>Unit</th>
                                                            <th>Amount</th>
                                                            <th class="col-1">Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody id="cart">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-check mt-3">
                                        <div>
                                            <input class="form-check-input mx-auto" type="checkbox" value=""
                                                id="defaultCheck1" checked>
                                            <label class="form-check-label mx-1" for="defaultCheck1">
                                                Disclaimer : Hereby I assure that product details given here is
                                                validated by this pharmacy .
                                            </label>
                                        </div>

                                    </div>


                            </div>
                            <div class="text-center mb-4">
                                <a>
                                    <button class="btn btn-primary px-5" id="submitorder">Submit</button>
                                </a>
                            </div>
                    </div>
            </div>
        </div>
        </div>




        <%- include('../partials/footercode.ejs') %>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script>
                var productId;
                var orgID = '<%= orgId %>';
                var customerData = [];
                var autoCompleteDataNumber = [];
                var autoCompleteDataName = [];
                var primaryUnit;
                var secondaryUnit;
                var batchIdwhenSelected;
                var availablePrimaryQty;
                var availableSecondaryQty;
                localStorage.removeItem('grnitems');
                var cartarray = [];
                $(document).ready(function () {
                    $("#contact").text("Contact No :");
                    $("#email").text("Email :");
                    $("#dl_no").text("DL No. :");
                    $("#gstin").text("GSTIN :");
                    $("#address").text("Address :");
                    var vendorId = -1;
                    $('#vendorselect').change(function () {
                        var selectedVendorId = $(this).val();

                        $.get(`/api/getvendor/${selectedVendorId}`, function (data, status) {
                            var vendorDetails = data.data;
                            console.log(vendorDetails);
                            vendorId = vendorDetails.vendor_id;

                            var number = `Contact: ${vendorDetails.vendor_contact}`
                            var email = `Email : ${vendorDetails.vendor_email}`
                            var dl_no = `DL No. : ${vendorDetails.vendor_dl_no_1}, ${vendorDetails.vendor_dl_no_2}`
                            var gstin = `GSTIN : ${vendorDetails.vendor_gstin}`
                            var address = `Address : ${vendorDetails.vendor_address}`
                            $("#contact").text(number);
                            $("#email").text(email);
                            $("#dl_no").text(dl_no);
                            $("#gstin").text(gstin);
                            $("#address").text(address);
                        });
                    });

                    $("input[name='productname']").autocomplete({
                        minLength: 3,
                        source: function (request, response) {
                            let query = request.term;

                            $.ajax({
                                url: `/api/autocomplete?query=${query}`,
                                type: 'GET',
                                success: function (ajaxResponse) {

                                    let results = ajaxResponse.filter(item => item.med_name.toLowerCase().includes(query.toLowerCase())).slice(0, 10);

                                    if (results.length === 0) {
                                        results.push({ med_name: null }); // Add a null item for the custom message
                                    }
                                    console.log(results);
                                    response(results);
                                },
                                error: function (error) {
                                    console.log(error);
                                }
                            })
                        },
                        select: function (event, ui) {
                            productId = ui.item.id;
                            $.get(`/api/checkbyid/${productId}`, function (data, status) {
                                console.log('got this data from inventory', data);
                                if (data.data.length == 1) {

                                    var items = data.data[0];
                                    $("select[name = 'gst']").val(items.gst);
                                    $("#hsn").val(items.hsn);
                                    $("select[name='primary']").val(items.primary_unit);
                                    $("select[name='secondary']").val(items.secondary_unit);
                                    $("input[name='threshold']").val(items.threshold);

                                    var primaryUnit = $("select[name='primary']").val();
                                    var secondaryUnit = $("select[name='secondary']").val();
                                    $("#primarypopulate").text(`1 ${primaryUnit}`);
                                    $("#secondarypopulate").text(`${secondaryUnit}`);
                                }
                            })



                            setTimeout(function () {
                                console.log(ui.item);
                                $("input[name='productname']").val(ui.item.med_name);
                                $("input[name='brand']").val(ui.item.mfd_mkt);
                                $("input[name='salt']").val(ui.item.salt_composition);
                            }, 0)
                        }
                    }).data('ui-autocomplete')._renderItem = function (ul, item) {

                        if (item.med_name) {

                            return $('<li>')
                                .append('<div>' + item.med_name + '</div>')
                                .appendTo(ul);
                        }
                        else {
                            return $('<li>').append('<div>No matching products found</div>').appendTo(ul);
                        }

                    };
                    $("select[name='primary'], select[name='secondary']").on("change", function () {
                        var primaryUnit = $("select[name='primary']").val();
                        var secondaryUnit = $("select[name='secondary']").val();


                        $("#primarypopulate").text(`1 ${primaryUnit}`);
                        $("#secondarypopulate").text(`${secondaryUnit}`);
                    })

                    $("input[name='addexp']").on('input', function () {
                        var input = $(this);
                        var exp_date = input.val();
                        if (exp_date < new Date().toJSON().slice(0, 10)) {
                            $("input[name='addexp']").val(null);
                            return alert('PLEASE ADD CORRECT EXPDate FIRST');
                        }
                    });


                    $("input[name='productname']").on('input', function () {
                        $("select[name = 'gst']").val('Select option');
                        $("#hsn").val("");
                        $("select[name='primary']").val('Primary');
                        $("select[name='secondary']").val('Secondary');
                        $("input[name='threshold']").val("");
                        $("#brand").val('')
                        $("#salt").val('')
                    })

                    var setLocalData;
                    var getLocalData;
                    var htmlData;

                    var setLocalData;
                    var getLocalData;
                    var htmlData;
                    $("#addtocart").click(function () {

                        if (parseFloat($("#addpur").val()) > parseFloat($("#price").val())) {
                            return alert("Purchase Rate can't be greater than MRP");
                        }

                        var products = $("#medicinename").val();
                        var brand = $("#brand").val();
                        var gst = $("select[name = 'gst']").val();
                        var hsn = $("#hsn").val();
                        var Punit = $("select[name='primary']").val();
                        var Sunit = $("select[name='secondary']").val();
                        var moq = $("input[name='threshold']").val();


                        var batch = $("#batchname").val();
                        var exp = $('[name="addexp"]').val();
                        var conversion = $("#conversion").val();
                        var shelflabel = $("#shelflabel").val();
                        var mrp = $("#price").val();
                        var purchase = $("#addpur").val();
                        var quantity = $("input[name='quantity']").val();

                        //logic for calculating amount
                        var amount = (purchase * quantity).toFixed(2);

                        cartarray.push({
                            productId: productId,
                            productname: products,
                            brandname: brand,
                            gst: gst,
                            hsn: hsn,
                            punit: Punit,
                            sunit: Sunit,
                            moq: moq,

                            batch: batch,
                            expdate: exp,
                            conversion: conversion,
                            shelflabel: shelflabel,
                            mrp: mrp,
                            purchase: purchase,
                            qty: quantity,
                            amt: amount,
                        })
                        console.log('cart details', cartarray);

                        setLocalData = JSON.stringify(cartarray);

                        localStorage.setItem("grncartdetails", setLocalData);

                        $("#medicinename").val("");
                        $("select[name = 'gst']").val('Select option');
                        $("#hsn").val("");
                        $("select[name='primary']").val('Primary');
                        $("select[name='secondary']").val('Secondary');
                        $("input[name='threshold']").val("");
                        $("#brand").val('')
                        $("#salt").val('')

                        $("#batchname").val("");
                        $('[name="addexp"]').val('');
                        $("#conversion").val("");
                        $("#primarypopulate").text("");
                        $("#secondarypopulate").text("");
                        $("#shelflabel").val("");
                        $("#price").val("");
                        $("#addpur").val("");
                        $("input[name='quantity']").val("");

                    })

                    // logic for redering cart data on addtocart click 
                    $("#addtocart").on('click', function () {

                        cartItems = JSON.parse(localStorage.getItem('grncartdetails')) || [];
                        renderCart(cartItems);
                    });

                    //deletefunctionality
                    $("#cart").on("click", ".delete-button", function () {
                        var item = $(this).closest("tr");
                        var item_id = item.find(".card_id").text().trim();
                        var cartItemsinStorage = JSON.parse(localStorage.getItem('grncartdetails')) || [];
                        cartItemsinStorage.splice(item_id - 1, 1);
                        cartarray = cartItemsinStorage;
                        localStorage.setItem('grncartdetails', JSON.stringify(cartItemsinStorage));
                        renderCart(cartItemsinStorage);
                    });
                    //endofdeletefunctionality

                    //rendercart functionality
                    function renderCart(items) {
                        $('#cart').empty();

                        for (var i = 0; i < items.length; i++) {
                            htmlData = `
                          <tr>
                            <td class="card_id">${i + 1}</td>
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>${items[i].productname}</strong></td>
                            <td>${items[i].brandname}</td>
                            <td>${items[i].mrp}</td>
                            <td>${items[i].purchase}</td>
                            <td>${items[i].qty}</td>
                            <td>${items[i].punit}</td>
                            <td>${items[i].amt}</td>
                            <td>
                              <div class="action-btns">
                                <button type="button" class="delete-button btn p-0 mx-2"><i class="bx bx-trash me-1"></i></button>
                              </div>
                            </td>
                          </tr>
                          `

                            $('#cart').append(htmlData);
                        }
                    }
                    //end of rendereing data logic

                    //allchanges done for footer total;


                    var orderDetails;
                    var org = '<%=orgId%>'
                    $("#submitorder").click(function () {
                        if ($("#vendorselect").val() === 'Select Vendor') {
                            return alert('Please fill "Distributor Name"');
                        }
                        if ($("#vendorinvoicenumber").val() == '') {
                            return alert('Please fill "Distributor Invoice number"');
                        }
                        if (!$("#defaultCheck1").prop("checked")) {
                            return alert("Please check the disclaimer before submitting.");
                        }
                        $("#submitorder").prop('disabled', true);
                        var pharmacyDetails = JSON.parse(localStorage.getItem('name'));
                        var cartDetails = JSON.parse(localStorage.getItem("grncartdetails"));
                        var totalPurchase = 0;

                        for (let i in cartDetails) {
                            totalPurchase += parseFloat(cartDetails[i].purchase * cartDetails[i].qty);
                        }

                        $.ajax({
                            url: `/api/creategrn/`,
                            type: 'POST',
                            data: JSON.stringify({
                                pharmacyId: pharmacyDetails.pharmaId,
                                vendor_id: vendorId,
                                vendor_invoice: $("#vendorinvoicenumber").val(),
                                total: totalPurchase,
                                org_id: org,
                            }),
                            contentType: 'application/json',
                            success: function (response) {


                                var GRNid = response.grn_invoice_no;


                                console.log('orderdetails of grn', cartDetails);

                                for (let i in cartDetails) {

                                    $.get(`/api/checkbyid/${cartDetails[i].productId}`, function (data, status) {
                                        console.log(data.data);
                                        if (data.data.length === 0) {

                                            var productDetails = {
                                                product_id: cartDetails[i].productId,
                                                org_id: org,
                                                gst: cartDetails[i].gst,
                                                hsn: cartDetails[i].hsn,
                                                primary_unit: cartDetails[i].punit,
                                                secondary_unit: cartDetails[i].sunit,
                                                threshold: cartDetails[i].moq
                                            }


                                            $.ajax({
                                                url: `/api/createinventory/`,
                                                type: 'POST',
                                                data: JSON.stringify(productDetails),
                                                contentType: 'application/json',
                                                success: function (response) {

                                                    var batchDetails = {
                                                        product_id: cartDetails[i].productId,
                                                        org_id: org,
                                                        batch_name: cartDetails[i].batch,
                                                        exp_date: cartDetails[i].expdate,
                                                        conversion: cartDetails[i].conversion,
                                                        batch_qty: cartDetails[i].qty,
                                                        purchase_rate: cartDetails[i].purchase,
                                                        mrp: cartDetails[i].mrp,
                                                        shelf_label: cartDetails[i].shelflabel,
                                                        grn_id: GRNid
                                                    }
                                                    //console.log(batchDetails);

                                                    $.ajax({
                                                        url: `/api/addbatch/`,
                                                        type: 'POST',
                                                        data: JSON.stringify(batchDetails),
                                                        contentType: 'application/json',
                                                        success: function (response) {


                                                            $.ajax({
                                                                url: `/api/creategrncarts`,
                                                                type: 'POST',
                                                                data: JSON.stringify({
                                                                    grn_id: GRNid,
                                                                    product_id: cartDetails[i].productId,
                                                                    gst: cartDetails[i].gst,
                                                                    hsn: cartDetails[i].hsn,
                                                                    punit: cartDetails[i].punit,
                                                                    sunit: cartDetails[i].sunit,
                                                                    moq: cartDetails[i].moq,
                                                                    batch_name: cartDetails[i].batch,
                                                                    exp: cartDetails[i].expdate,
                                                                    conversion: cartDetails[i].conversion,
                                                                    shelf_label: cartDetails[i].shelflabel,
                                                                    purchase: cartDetails[i].purchase,
                                                                    mrp: cartDetails[i].mrp,
                                                                    qty: cartDetails[i].qty,

                                                                }),
                                                                contentType: 'application/json',
                                                                success: function (response) {
                                                                    console.log('grn done', response);
                                                                },
                                                                error: function (error) {
                                                                    console.log('error in grn', error);
                                                                    return alert("not Created", error)
                                                                }
                                                            })
                                                            console.log(response);
                                                        },
                                                        error: function (error) {
                                                            console.log(error);
                                                            return alert("not Created", error)
                                                        }
                                                    })
                                                    console.log(response);
                                                },
                                                error: function (error) {
                                                    console.log(error);
                                                    return alert("not Created", error)
                                                }
                                            })
                                        } else {
                                            var batchDetails = {
                                                product_id: cartDetails[i].productId,
                                                org_id: org,
                                                batch_name: cartDetails[i].batch,
                                                exp_date: cartDetails[i].expdate,
                                                conversion: cartDetails[i].conversion,
                                                batch_qty: cartDetails[i].qty,
                                                purchase_rate: cartDetails[i].purchase,
                                                mrp: cartDetails[i].mrp,
                                                shelf_label: cartDetails[i].shelflabel,
                                                grn_id: GRNid
                                            }
                                            //console.log(batchDetails);

                                            $.ajax({
                                                url: `/api/addbatch/`,
                                                type: 'POST',
                                                data: JSON.stringify(batchDetails),
                                                contentType: 'application/json',
                                                success: function (response) {

                                                    $.ajax({
                                                        url: `/api/creategrncarts`,
                                                        type: 'POST',
                                                        data: JSON.stringify({
                                                            grn_id: GRNid,
                                                            product_id: cartDetails[i].productId,
                                                            gst: cartDetails[i].gst,
                                                            hsn: cartDetails[i].hsn,
                                                            punit: cartDetails[i].punit,
                                                            sunit: cartDetails[i].sunit,
                                                            moq: cartDetails[i].moq,
                                                            batch_name: cartDetails[i].batch,
                                                            exp: cartDetails[i].expdate,
                                                            conversion: cartDetails[i].conversion,
                                                            shelf_label: cartDetails[i].shelflabel,
                                                            purchase: cartDetails[i].purchase,
                                                            mrp: cartDetails[i].mrp,
                                                            qty: cartDetails[i].qty,

                                                        }),
                                                        contentType: 'application/json',
                                                        success: function (response) {
                                                            console.log('grn done', response);
                                                        },
                                                        error: function (error) {
                                                            console.log('error in grn', error);
                                                            return alert("Not Created", error)
                                                        }
                                                    })
                                                    console.log(response);
                                                },
                                                error: function (error) {
                                                    console.log(error);
                                                    return alert("Not Created", error)
                                                }
                                            })
                                        }
                                    })


                                }

                                setTimeout(() => {

                                    window.location.href = `/grn_receipt/${GRNid}`
                                }, 3000);




                            },
                            error: function (error) {
                                alert("not Created", error)
                            }


                        })


                    })

                });





            </script>

    </body>

    </html>